@using OutWeb.Models.FrontEnd.NewsFrontEndModels
@model NewsListFrontViewModel
@{
    ViewBag.Title = "比賽訊息";
    ViewBag.BodyClass = "News";
    ViewBag.ContentClass ="ind";
}

<h4 class="title text-left ml-72"><span class="underline">@ViewBag.Title</span></h4>

<form action="/News/List" method="get" class="frmNewsList">

    <nav class="list text-left ml-72">
        @foreach (var data in Model.Result.Data)
        {
            string newsRedirectUrl = string.Empty;
            string urlBlank = string.Empty;
            if (string.IsNullOrEmpty(data.NewsUrl))
            {
                newsRedirectUrl = Url.Content("~/News/Content?ID=" + data.ID + "&type=" + data.Type);
            }
            else
            {
                newsRedirectUrl = data.NewsUrl;
                urlBlank = "_blank";
            }
            <a href="@newsRedirectUrl" class="list-item" target="@urlBlank">
                <span class="date">@data.PublishDateStr</span>
                <span class="rest">@data.Title</span>
            </a>
        }
    </nav>

    <nav class="pager py-16 pr-32">
        @{
            int beginCount = Model.Result.Pagination.CurrentPage > 1 ? ((Model.Result.Pagination.CurrentPage - 1) * Model.Result.Pagination.PageSize) + 1 : 1;
            int lastCount =
                Model.Result.Data.Count >= Model.Result.Pagination.PageSize ?
                ((Model.Result.Pagination.CurrentPage) * Model.Result.Pagination.PageSize) : Model.Result.Pagination.DataCount;
            string disabledPre = Model.Result.Pagination.CurrentPage == 1 ? "disabled" : "";
            string disabledNext = Model.Result.Pagination.CurrentPage == Model.Result.Pagination.LastPage ? "disabled" : "";
            string disabledPageInput = Model.Result.Pagination.LastPage == 1 ? "disabled" : "";
            string pageTotalInfo = string.Format("{0}/{1}頁 {2}筆", Model.Result.Pagination.CurrentPage, Model.Result.Pagination.LastPage, Model.Result.Pagination.DataCount);
        }
        <span class="pull-right">
            @pageTotalInfo
        </span>

        <a @disabledPre href="javascript:;"
           onclick="paginationSubmit('@Model.Result.Pagination.FirstPage');"
           class="btn ti-angle-double-left"></a>
        <a @disabledPre href="javascript:;"
           onclick="paginationSubmit('@Model.Result.Pagination.PrePage');"
           class="btn ti-angle-left"></a>
        <a @disabledNext href="javascript:;"
           onclick="paginationSubmit('@Model.Result.Pagination.NextPage');"
           class="btn ti-angle-right"></a>
        <a @disabledNext href="javascript:;"
           onclick="paginationSubmit('@Model.Result.Pagination.LastPage');"
           class="btn ti-angle-double-right"></a>

        <label for="numPage" class="ml-16">
            第
            <input @disabledPageInput id="numPage" name="page" class="form-element inline text-center" type="number" min="1" value="@Model.Result.Pagination.CurrentPage">
            頁
        </label>
    </nav>
</form><!-- content //-->

@* 寬度不超過450，高度不超過265

    <div class="wrap clearfix">

        @foreach (var data in Model)
        {
            string imgUrl = data.ImagesData == null ? string.Empty : data.ImagesData.FileUrl;
            <figure class="newslist">
                <div class="cut">
                    <img src="~/@imgUrl" alt="最新消息列表圖">
                </div>
                <a href="@Url.Content("~/News/Content?ID="+data.ID)"></a>
                <figcaption>
                    <h4>@data.Title</h4>
                    <a href="@Url.Content("~/News/Content?ID="+data.ID)" class="more">more</a>
                    <small class="date">@data.PublishDateStr</small>
                </figcaption>
            </figure>
        }
    </div> *@


@section scripts {
    <script>
        if ('@TempData["Error"]' != '') {
            alert('@TempData["Error"]');
        }

        function paginationSubmit(page)
        {
            $('#numPage').val(page);
            $('.frmNewsList')[0].submit();
        }

        $(function () {
            $('a').each(function (i,e) {
                var $elm =$(e);
                if($elm.attr('disabled') != undefined)
                {
                    $elm.attr('href','javascript:;').attr('onclick','javascript:;');
                }
            });
            //搜尋
            $('#searchBtn').on('click keypress', function () {
                $('#numPage').val(1);
                $('.frmNewsList').submit();
            });

            //分頁input
            $('#numPage').on('keyup change', function () {

                var minPage = @Model.Result.Pagination.FirstPage;
                var maxPage = @Model.Result.Pagination.LastPage;
                var currentPage = $(this).val();
                if(currentPage < minPage)
                {
                    currentPage = minPage;
                }

                if(currentPage > maxPage)
                {
                    currentPage = maxPage;
                }
                $(this).val(currentPage);
                $('.frmNewsList').submit();
            })
        })
    </script>
}