@using OutWeb.Models.FrontEnd.DownloadFrontModel
@model ApplyListContentModel

@{
    ViewBag.BodyClass = "Apply";
    ViewBag.ContentClass = "p-48 text-left";
    ViewBag.Title = Model.Data.Title;
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;

    string applyStr = Model.Data.ActivityStatus ? "我要報名" : "報名截止";
    string applyStrStyle = Model.Data.ActivityStatus ? "" : "disabled";
    string applyUrl = Model.Data.ActivityStatus ? "/Apply/Apply?id=" + Model.Data.ID : "javascript:;";
}
<h4 class="title">
    <span class="underline">@ViewBag.Title</span>
</h4>
<a href="@applyUrl" class="btn pull-right mb-16 ti-comments-smiley" @applyStrStyle>@applyStr</a>
@* 若時間過掉或額滿時顯示
    <a href="Apply" class="btn pull-right mb-16" disabled>報名截止</a> *@
<div class="table-rwd clear">
    <table class="table-striped w-100 activity-info">
        <colgroup>
            <col style="width:18%">
        </colgroup>
        <tr>
            <th>活動時間</th>
            <td class="text-left">@Model.Data.ActivityDateTimeDescription</td>
        </tr>
        <tr>
            <th>報名時間</th>
            <td class="text-left">@Model.Data.ApplyDateRange</td>
        </tr>
        <tr>
            <th>活動說明</th>
            <td class="text-left">@Html.Raw(Model.Data.Remark)</td>
        </tr>
    </table>
</div>


<footer class="download">
    @foreach (var file in Model.Files)
    {
        string fileUrl = currentUrl + "/" + file.FileUrl;
        <a class="inline-block ti-clip dlFile" href="@fileUrl" url="@fileUrl" real-name="@file.RealFileName">@file.RealFileName</a>
    }

</footer>
<hr class="mb-12">
<a href="~/Apply" class="back pull-right ti-arrow-left">回列表</a>


<script>
    //下載檔案存為指定檔名
    function downloadFile(elem) {
        $(elem).attr('download', $(elem).attr('real-name'))
              .attr('href', $(elem).attr('url'))
              .attr('target', '_blank');
    }

    //檔案下載
    $(document).on('click', '.dlFile', function () {
        downloadFile(this);
    });
</script>