@using OutWeb.Models.FrontEnd.TrainModels.TrainListModels
@model TrainListViewModel
@{
    ViewBag.Title = "研討會";
    ViewBag.BodyClass = "Train";
    ViewBag.Subnav = "Train";
    ViewBag.Breadcrumb = "研討會"; @* 最後層的麵包屑 *@
}

@* 中間層的麵包屑 *@
@section breadcrumb {

}

<div class="wrap zoom">
    @Html.Partial("sidebar")

    <form id="content" action="/Train/List" method="get" class="frmTrainList">
        <div class="text-left field list-search">


            @{
                string beginDateStr = Model.Filter.BeginDate == DateTime.MinValue ? new DateTime(DateTime.UtcNow.AddHours(8).Year, 01, 01).ToString("yyyy\\/MM\\/dd") : Model.Filter.BeginDate.ToString("yyyy\\/MM\\/dd");
                string endDateStr = Model.Filter.EndDate == DateTime.MaxValue ? new DateTime(DateTime.UtcNow.AddHours(8).Year, 12, 31).ToString("yyyy\\/MM\\/dd") : Model.Filter.EndDate.ToString("yyyy\\/MM\\/dd");
            }
            <div class="col-6 col-sm-3 date">
                <div class="input-group">
                    <label for="bdate" class="input-group-addon">起</label>
                    <span class="input-group-box"><input class="form-element datepicker" type="text" name="bdate" id="bdate" value="@beginDateStr"></span>
                </div>
            </div>
            <div class="col-6 col-sm-3 date pr-0">
                <div class="input-group">
                    <label for="edate" class="input-group-addon">迄</label>
                    <span class="input-group-box"><input class="form-element datepicker" type="text" name="edate" id="edate" value="@endDateStr"></span>
                </div>
            </div>
            <div class="col-sm-4 offset-sm-2">
                <div class="input-group">
                    <label for="qry" class="sr-only">關鍵字</label>
                    <span class="input-group-box"><input class="form-element" type="search" name="qry" id="qry" placeholder="請輸入關鍵字" value="@Model.Filter.QueryString"></span>
                    <button class="input-group-btn" id="searchBtn" type="button">查詢</button>
                </div>
            </div>
        </div>

        <table class="table-list table-hover rwd-table">
            <thead class="list-head">
                <tr>
                    <th></th>
                    <th class="date">活動日期</th>
                    <th class="text-left">課程名稱(報名時間)</th>
                    <th>已報名人數/上限</th>
                    <th>線上報名</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Result.Data)
                {
                    string info = string.Format("{0}/{1}", data.AlreadyRegistered.ToString().PadLeft(2, '0'), data.LimitCount.ToString().PadLeft(2, '0'));
                    string applyUrl = string.Empty;
                    string timeSpanStr = string.Format("({0}~{1})", data.RegistrationBeginDate.ToString("yyyy\\/MM\\/dd"), data.RegistrationEndDate.ToString("yyyy\\/MM\\/dd"));
                    string btnSytle = string.Empty;
                    if (data.IsStopRegistering)
                    {
                        btnSytle = "info";
                        applyUrl = Url.Content("~/Train/ApplyAdd?trainID=" + data.ID);
                    }
                    else
                    {
                        btnSytle = "disabled";
                        applyUrl = "javascript:;";
                    }

                    if (data.ActivityStatus)
                    {
                        <tr>
                            <td class="icon"></td>
                            <td data-title="活動日期" class="text-primary">@data.ActivityDateStr</td>
                            <td data-title="課程名稱" class="text-left">
                                <a href="@Url.Content("~/Train/Content?trainID=" + data.ID)">@data.ActivityName <small>@timeSpanStr</small></a>
                            </td>
                            <td data-title="已報名人數/上限">@info</td>
                            <td data-title="線上報名"><a href="@applyUrl" class="btn @btnSytle sm">@data.RegistrationStatusDescription</a></td>
                        </tr>
                    }

                }
                @* 測試 *@
                @*<tr>
                    <td class="icon"></td>
                    <td data-title="活動日期" class="text-primary">2017/10/7</td>
                    <td data-title="課程名稱" class="text-left">
                        <a href="">xxxxxxxxxxxxxxxxxxx <small>(2017/10/7 ~ 2017/11/7)</small></a>
                    </td>
                    <td data-title="已報名人數/上限">20/70</td>
                    <td data-title="線上報名"><a href="" class="btn info sm">報名</a></td>
                </tr>*@
            </tbody>
        </table>

        @*<nav class="pager text-info">
            <span class="pull-left">
                1/76頁　755筆
            </span>

            <a href="~/Train/List" class="btn ti-angle-double-left" title="最前一筆"></a>
            <a href="~/Train/List" class="btn ti-angle-left" title="上一筆"></a>
            <a href="~/Train/List" class="btn ti-angle-right" title="下一筆"></a>
            <a href="~/Train/List" class="btn ti-angle-double-right" title="最後一筆"></a>

            <label class="ml-16">
                第
                <input class="form-element inline text-center" type="number" min="1" value="1">
                頁
            </label>
        </nav>*@

        <nav class="pager text-info">
            @{
                int beginCount = Model.Result.Pagination.CurrentPage > 1 ? ((Model.Result.Pagination.CurrentPage - 1) * Model.Result.Pagination.PageSize) + 1 : 1;
                int lastCount =
                    Model.Result.Data.Count >= Model.Result.Pagination.PageSize ?
                    ((Model.Result.Pagination.CurrentPage) * Model.Result.Pagination.PageSize) : Model.Result.Pagination.DataCount;
                string disabledPre = Model.Result.Pagination.CurrentPage == 1 ? "disabled" : "";
                string disabledNext = Model.Result.Pagination.CurrentPage == Model.Result.Pagination.LastPage ? "disabled" : "";
                string disabledPageInput = Model.Result.Pagination.LastPage == 1 ? "disabled" : "";
                string pageTotalInfo = string.Format("{0}/{1}頁 {2}筆", Model.Result.Pagination.CurrentPage, Model.Result.Pagination.LastPage, Model.Result.Pagination.DataCount);
            }
            <span class="pull-left">
                @pageTotalInfo
            </span>

            <a @disabledPre href="javascript:;"
               onclick="paginationSubmit('@Model.Result.Pagination.FirstPage');"
               class="btn ti-angle-double-left"><i class="sr-only">最前一筆</i></a>
            <a @disabledPre href="javascript:;"
               onclick="paginationSubmit('@Model.Result.Pagination.PrePage');"
               class="btn ti-angle-left"><i class="sr-only">上一筆</i></a>
            <a @disabledNext href="javascript:;"
               onclick="paginationSubmit('@Model.Result.Pagination.NextPage');"
               class="btn ti-angle-right"><i class="sr-only">下一筆</i></a>
            <a @disabledNext href="javascript:;"
               onclick="paginationSubmit('@Model.Result.Pagination.LastPage');"
               class="btn ti-angle-double-right"><i class="sr-only">最後一筆</i></a>

            <label for="numPage" class="ml-16">
                第
                <input @disabledPageInput id="numPage" name="page" class="form-element inline text-center" type="number" min="1" value="@Model.Result.Pagination.CurrentPage">
                頁
            </label>
        </nav>

    </form><!-- content //-->

</div>



@section scripts {
    <script>
        if ('@TempData["Error"]' != '') {
            alert('@TempData["Error"]');
        }

        function paginationSubmit(page)
        {
            $('#numPage').val(page);
            $('.frmTrainList')[0].submit();
        }


        $(function () {
            $('a').each(function (i,e) {
                var $elm =$(e);
                if($elm.attr('disabled') != undefined)
                {
                    $elm.attr('href','javascript:;').attr('onclick','javascript:;');
                }
            });

            //搜尋
            $('#searchBtn').click(function () {
                $('#numPage').val(1);
                $('.frmTrainList').submit();
            });

            //分頁input
            $('#numPage').on('keyup change', function () {
                var minPage = @Model.Result.Pagination.FirstPage;
                var maxPage = @Model.Result.Pagination.LastPage;
                var currentPage=$(this).val() ;
                if(currentPage < minPage)
                {
                    currentPage = minPage;
                }

                if(currentPage > maxPage)
                {
                    currentPage = maxPage;
                }
                $(this).val(currentPage);
                $('.frmTrainList').submit();
            })
        })
    </script>
}