@using OutWeb.Models.FrontEnd.ApplyModels
@model ApplyListViewModel
@{
    ViewBag.Title = "線上報名";
    ViewBag.BodyClass = "Apply";
    ViewBag.ContentClass = "apply-list";
}

<h4 class="title text-left"><span class="underline">@ViewBag.Title</span></h4>

<form action="/Apply/List" method="get" class="frmTrainList">

    <table class="table-list table-hover rwd-table">
        <thead class="list-head">
            <tr>
                <th>活動時間</th>
                <th class="text-left">活動名稱(報名時間)</th>
                <th>已報名隊伍/上限</th>
                <th>線上報名</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.ListData)
            {
                string applyLimitInfo = string.Concat(data.Registered, "/", data.GroupApplyLimit);
                string applyStr = data.ActivityStatus ? "我要報名" : "報名截止";
                string applyStrStyle = data.ActivityStatus ? "" : "disabled";
                string applyUrl = data.ActivityStatus ? "/Apply/Apply?id=" + data.ID : "javascript:;";
                <tr>
                    <td data-title="活動時間" class="text-secondary">@data.ActivityDateTimeDescription</td>
                    <td data-title="活動名稱(報名時間)" class="text-left">
                        <a href="~/Apply/Content?id=@data.ID">@data.Title<small class="date">(@data.ApplyDateRange)</small></a>
                    </td>
                    <td data-title="已報名隊伍/上限">@applyLimitInfo</td>
                    <td><a href="@applyUrl" class="btn sm" @applyStrStyle>@applyStr</a></td>
                </tr>

            }

            @* demo *@
            @*<tr>
                    <td data-title="活動時間" class="text-secondary">2018/01/21~2018/01/22</td>
                    <td data-title="活動名稱(報名時間)" class="text-left">
                        <a href="~/Apply/ContentDemo">桃園市主委盃3對3籃球鬥牛賽 <small class="date">(2017/12/1~2017/12/30)</small></a>
                    </td>
                    <td data-title="已報名隊伍/上限">25/300</td>
                    <td><a href="~/Apply/Apply" class="btn sm">我要報名</a></td>
                </tr>*@

            @*<tr>
                    <td data-title="活動時間" class="text-secondary">2018/01/21~2018/01/22</td>
                    <td data-title="活動名稱(報名時間)" class="text-left">
                        <a href="~/Apply/ContentDemo">桃園市主委盃3對3籃球鬥牛賽 <small class="date">(2017/12/1~2017/12/30)</small></a>
                    </td>
                    <td data-title="已報名隊伍/上限">25/300</td>
                    <td><a href="~/Apply/Apply" class="btn sm" disabled>報名截止</a></td>
                </tr>*@
        </tbody>
    </table>

    <nav class="pager py-16">
        @{
            int beginCount = Model.Pagination.CurrentPage > 1 ? ((Model.Pagination.CurrentPage - 1) * Model.Pagination.PageSize) + 1 : 1;
            int lastCount =
                Model.ListData.Count >= Model.Pagination.PageSize ?
                ((Model.Pagination.CurrentPage) * Model.Pagination.PageSize) : Model.Pagination.DataCount;
            string disabledPre = Model.Pagination.CurrentPage == 1 ? "disabled" : "";
            string disabledNext = Model.Pagination.CurrentPage == Model.Pagination.LastPage ? "disabled" : "";
            string disabledPageInput = Model.Pagination.LastPage == 1 ? "disabled" : "";
            string pageTotalInfo = string.Format("{0}/{1}頁 {2}筆", Model.Pagination.CurrentPage, Model.Pagination.LastPage, Model.Pagination.DataCount);
        }
        <span class="pull-right">
            @pageTotalInfo
        </span>

        <a @disabledPre href="javascript:;"
           onclick="paginationSubmit('@Model.Pagination.FirstPage');"
           class="btn ti-angle-double-left"></a>
        <a @disabledPre href="javascript:;"
           onclick="paginationSubmit('@Model.Pagination.PrePage');"
           class="btn ti-angle-left"></a>
        <a @disabledNext href="javascript:;"
           onclick="paginationSubmit('@Model.Pagination.NextPage');"
           class="btn ti-angle-right"></a>
        <a @disabledNext href="javascript:;"
           onclick="paginationSubmit('@Model.Pagination.LastPage');"
           class="btn ti-angle-double-right"></a>

        <label for="numPage" class="ml-16">
            第
            <input @disabledPageInput id="numPage" name="page" class="form-element inline text-center" type="number" min="1" value="@Model.Pagination.CurrentPage">
            頁
        </label>
    </nav>

</form>

@section scripts {
    <script>
        if ('@TempData["ErrorMsg"]' != '') {
            alert('@TempData["Error"]');
        }

        function paginationSubmit(page)
        {
            $('#numPage').val(page);
            $('form')[0].submit();
        }

        $(function () {
            $('a').each(function (i,e) {
                var $elm =$(e);
                if($elm.attr('disabled') != undefined)
                {
                    $elm.attr('href','javascript:;').attr('onclick','javascript:;');
                }
            });

            //分頁input
            $('#numPage').on('keyup change', function () {
                var minPage = @Model.Pagination.FirstPage;
                var maxPage = @Model.Pagination.LastPage;
                var currentPage=$(this).val() ;
                if(currentPage < minPage)
                {
                    currentPage = minPage;
                }

                if(currentPage > maxPage)
                {
                    currentPage = maxPage;
                }
                $(this).val(currentPage);
                $('form')[0].submit();
            })
        })
    </script>
}