@using OutWeb.Models.FrontEnd.HomeMultipleModels
@model HomeFrontListDataModel

@{
    ViewBag.Title = "首頁";
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;
}

@section scripts {
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        // slider 輪播效果
        var swiperBanner = new Swiper(document.getElementById('banner'), {
            pagination: '.swiper-pager',
            paginationClickable: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false,
            speed: 1000,
            // grabCursor: true,
            effect: 'fade'
        });
    </script>
}

<section id="banner" class="swiper-container">

    <main class="swiper-wrapper">
        @foreach (var banner in Model.Banner)
        {
            string imgUrl = currentUrl + "/" + banner.Files.First().FileUrl;
            <div class="swiper-slide">
                <img src="@imgUrl" alt="@banner.Title">
            </div>
        }
    </main>
    <div class="swiper-pager"></div>
</section>

<section class="wrap cells main">
    <aside class="cell vedio">
        <h4 class="title"><span class="underline">FB影片</span></h4>
        <div class="video-contain">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ftyba99%2Fvideos%2F1600943106628525%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
    </aside>

    <article class="cell news">
        <h4 class="title"><span class="underline">最新消息</span></h4>

        @* 套程式 - 最多5則 *@
        <nav class="news-list">
            @foreach (var data in Model.News.Data)
            {
                <a href="@Url.Action("Content","News",new {ID=data.ID })" class="news-link"><span class="date">@data.PUB_DT_STR</span>@data.TITLE</a>
            }
        </nav>

        <footer class="text-right"><a href="~/News" class="more hover-secondary">更多訊息</a></footer>
    </article>
</section>

<section class="gallery wrap">
    <h4 class="title underline">活動花絮</h4>
    <iframe scrolling="no" marginheight="0" frameborder="0" width="1061" style="height:420px;" src="https://socialgalleria.com/gallery.php?id=tyba99&rows=2&margin=10&cols=5&width=200&font_size=11&title_color=000&hide_next_back=1&share_buttons=1&shape=rectangle&frame=1"></iframe>
    <footer><a class="btn more" href="https://www.facebook.com/pg/tyba99/photos/" target="new">看更多花絮</a></footer>
</section>