@using OutWeb.Models.Manage.ManageBookModels
@model BookDetailsDataModel
@{
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;
    string ActionName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"]);
}
<input type="hidden" id="hdnBookID" name="bookID" value="@Model.Data.主索引" />
<section class="row">
    <div class="col-6">
        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 分類</dt>
            <dd class="col-10">
                @Html.DropDownList("TypeList", null, new { @id = "typeList", @Name = "type" })
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 發稿時間</dt>
            <dd class="col-10">
                <input type="text" class="datepicker" name="publishDate" value="@Model.Data.發稿時間.ToString("yyyy\\/MM\\/dd")" required placeholder="請輸入發稿時間">
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 名稱</dt>
            <dd class="col-10">
                <input type="text" name="name" value="@Model.Data.名稱" required placeholder="請輸入名稱">
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">摘要</dt>
            <dd class="col-10">
                <textarea rows="4" name="summary">@Model.Data.摘要</textarea>
                <small class="text-secondary">輸入超連結語法：&lt;a href="輸入網址" target="new"&gt;顯示文字&lt;/a&gt;</small>

                @*<textarea id="art" class="form-element" maxlength="512" name="summary" placeholder="請輸入最新消息內容..." rows="15">@Model.Data.摘要</textarea>*@
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">排序</dt>
            <dd class="col-10">
                <input type="number" class="inline" name="sortIndex" value="@(Model.Data.排序??0)">
                <small>數字愈大愈前面</small>
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">顯示狀態</dt>
            <dd class="col-10">
                @if (Model.Data.主索引 == 0)
                {
                    <label class="mr-8">
                        <input type="radio" name="status" class="radio" value="true" checked>
                        <i class="icon"></i>上架
                    </label>
                    <label>
                        <input type="radio" name="status" value="false" class="radio">
                        <i class="icon"></i>下架
                    </label>
                }
                else if (Model.Data.顯示狀態)
                {
                    <label class="mr-8">
                        <input type="radio" name="status" class="radio" value="true" checked>
                        <i class="icon"></i>上架
                    </label>
                    <label>
                        <input type="radio" name="status" value="false" class="radio">
                        <i class="icon"></i>下架
                    </label>
                }
                else
                {
                    <label class="mr-8">
                        <input type="radio" name="status" class="radio" value="true">
                        <i class="icon"></i>上架
                    </label>
                    <label>
                        <input type="radio" name="status" value="false" class="radio" checked>
                        <i class="icon"></i>下架
                    </label>
                }

            </dd>
        </dl>
    </div>
    <div class="col-6">
        <dl class="field">
            <dt class="col-2">封面圖</dt>
            <dd class="col-10 file-buffer">
                <div class="input-file">
                    <input type="file" id="cover" onchange="previewFiles(this,true);" name="" class="file-obj-input" accept="image/*">
                </div>
                <small class="text-secondary">可上傳 1 張圖片，建議尺寸 450*265px，建議檔案大小不超過 1000kb</small>

                <ul class="file-pre-ul list-unstyled">

                    @foreach (var img in Model.CoverImg)
                    {
                        string imgUrl = currentUrl + "/" + img.FileUrl;
                        int index = Model.FullBookFile.IndexOf(img);
                        <li class="uploaded">
                            <button type="button" class="close btn-del file-remove-btn" id="@img.FileName">&times;</button>
                            <img src="@imgUrl" width="100" />
                            <input type="hidden" id="" name="ImagesData[@index].ID" value="@img.ID" />
                        </li>
                    }
                </ul>
            </dd>
        </dl>

        <dl class="field">
            <dt class="col-2">全文上傳</dt>
            <dd class="col-10 file-buffer">
                <div class="input-file">
                    <input type="file" onchange="previewFiles(this, false);" id="full" class="file-obj-input">
                </div>
                <small class="text-secondary">可上傳 1 個檔案，請勿超過 50 MB</small>
                <ul class="file-pre-ul list-unstyled">

                    @foreach (var file in Model.FullBookFile)
                    {
                        string fileUrl = currentUrl + "/" + file.FileUrl;
                        int index = Model.FullBookFile.IndexOf(file);
                        <li class="uploaded">
                            <button type="button" class="close btn-del file-remove-btn" id="@file.FileName">&times;</button>
                            <a class="dlFile" href="javascript:;" url="@fileUrl" real-name="@file.RealFileName">@file.RealFileName</a>
                            <input type="hidden" id="" name="FullBookFile[@index].ID" value="@file.ID" />
                        </li>
                    }
                </ul>
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2">章節上傳</dt>
            <dd class="col-10 file-buffer">
                <div class="input-file">
                    <input type="file" onchange="previewFiles(this,false);" id="chapter" multiple class="file-obj-input">
                </div>
                <small class="text-secondary">可多檔上傳，單一檔案大小請勿超過 25 MB</small>
            </dd>
        </dl>
    </div>
</section>

<fieldset class="mt-24 clear">
    <legend class="underline">[ 章節列表 ]</legend>
    <div class="alert-warning mb-16">
        <strong>排序：</strong> 數字愈大愈前面。
    </div>
    <table class="file-pre-ul-chap">
        <colgroup>
            <col style="width:60px">
            <col style="width:36%">
            <col>
            <col span="2" style="width:8%">
        </colgroup>
        <tr class="bg-light">
            <th>#</th>
            <th class="text-left">檔案</th>
            <th class="text-left">標題</th>
            <th>排序</th>
            <th class="item-edit">刪除</th>
        </tr>

        @foreach (var chapter in Model.ChapterFiles)
        {
            int i = Model.ChapterFiles.IndexOf(chapter);
            int index = (i + 1);
            string fileUrl = currentUrl + "/" + chapter.FileUrl;
            var details = Model.ChapterDetails.Where(o => o.MapFileID == chapter.ID).FirstOrDefault();
            if (details == null)
            {
                details = new BookChapterDetalisModel();
            }
            <tr class="item-group">
                <td>
                    <span class="item-sq">@index</span>
                    <input type="hidden" name="chapterDetails[@i].ID" class="chaDetails" value="@details.ID" />
                    <input type="hidden" name="chapterDetails[@i].MapFileID" value="@chapter.ID" />
                    <input type="hidden" name="ChapterFiles[@chapter.ID].ID" value="@chapter.ID" />
                </td>
                <td class="text-left"><a href="@fileUrl">@chapter.RealFileName</a></td>
                <td><input type="text" placeholder="請輸入標題" name="chapterDetails[@i].Alias" required value="@details.Alias"></td>
                <td><input class="text-center" type="number" name="chapterDetails[@i].SQ" value="@(details.SQ??0.0f)"></td>
                <td>
                    <button type="button" class="btn sm danger oi file-remove-btn">&times;</button>
                </td>
            </tr>
        }

        @*<tr>
            <td>2</td>
            <td class="text-left"><a href="">xxxxxxxxxxxx.pdf</a></td>
            <td><input type="text" value="章節一" placeholder="請輸入標題"></td>
            <td><input class="text-center" type="number" value="0"></td>
            <td>
            <button class="btn sm danger oi" data-glyph="trash" type="button"></button>
            </td>
            </tr>*@
    </table>
</fieldset>

<footer class="submit-bar clear mt-24">
    <button id="submitBtn" type="button" class="btn success oi" data-glyph="circle-check">
        確認儲存
    </button>
    <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href='BookList'">
        回列表
    </button>
</footer>

<script>
    (function ($) {
        $(function () {
            //alert(CKEDITOR.version);
            //CKFinder.setupCKEditor(null, { basePath: '/ckfinder/', skin: 'v1' });
            //CKEDITOR.replace('summary');
            if ('@Model.Data.主索引' != '0') {
                if ('@Model.Data.顯示狀態' == '@false') {
                    $("input[name='status'][value='false']").attr("checked", true);
                }
            }
        })
    })(jQuery);
</script>

@*File Upload JS*@
<script>
    var fileList = [];
    var fileLimitImageSize = 1048576; // 圖片大小1mb 單位bit
    var fileLimitFileSize = 26214400;  // 檔案大小2mb(2097152) ->25mb 單位bit
    var fileLimitFullBookFileSize = 52428800; // 全文 檔案大小50mb 單位bit
    var blobBuffer = {};

    //驗證Required欄位
    function validHtmlFormRequired() {
        var valid = true;
        var form = document.getElementById('formManageBookData');
        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                alert(form.elements[i].placeholder);
                valid = false;
                return;
            }
        }
        return valid;
    }

    $(function () {

        $('#submitBtn').click(function () {
            if ($('#typeList').val() == '') {
                alert('請選擇分類');
                return;
            }
            var valid = validHtmlFormRequired();
            if (!valid) {
                return false;
            }

            postFormWithAjax();
        });
    })


    //ajax送出表單
    function postFormWithAjax() {
        $('.file-obj-input').val('');
        //重置ckeditor content
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
        var ID = $('#hdnBookID').val();
        var formData = document.getElementById('formManageBookData');
        formData = new FormData(formData);

        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            formData.append(data.type, data.files);
        }

        formData.append("act", 'post');
        formData.append("actionName", '@ActionName');
        formData.append("ID", ID);

        var url = '';

        if (ID == 0) {
            url = "@Url.Content("~/_SysAdm/BookAdd/")";
        }
        else {
            url = "@Url.Content("~/_SysAdm/BookEdit/")";
        }
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                window.location.href = response.Url;
            },
            error: function (error) {
                alert('error');
                window.location.reload();
            }
        });
    }

    //下載檔案存為指定檔名
    function downloadFile(elem) {
        //for IE
        if (window.navigator.msSaveOrOpenBlob) {
            if (Object.keys(blobBuffer).length > 0) {
                var key = $(elem).attr('ie-id');
                var obj = blobBuffer[key];

                var blobObject = new Blob([obj.blobObj]);
                window.navigator.msSaveOrOpenBlob(blobObject, obj.fileName);
            }
        }
        else {
            $(elem).attr('download', $(elem).attr('real-name'))
           .attr('href', $(elem).attr('url'))
           .attr('target', '_blank');
        }
    }



    //檔案下載
    $(document).on('click', '.dlFile', function () {
        downloadFile(this);
    });
    //檔案刪除
    $(document).on('click', '.file-remove-btn', function () {
        var fileName = $(this).attr('id');
        var delObj = $(this).attr('del-obj');
        removeFileListItem(fileName, delObj);
        $(this).parent('li').remove();
        $(this).closest('tr').remove();
        resetServerIndex();
    })

    //刪除檔案佇列項目
    function removeFileListItem(fileName, delObj) {
        var delIndex = [];
        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == delObj && data.files.name == fileName) {
                delIndex.push(i);
            }
        }
        for (var i = 0; i < delIndex.length; i++) {
            fileList.splice(delIndex[i], 1);
        }
    }

    //刪除檔案佇列類型項目(適用於單筆)
    function removeFileListItemByKind(delObj) {
        var delIndex = [];
        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == delObj) {
                delIndex.push(i);
            }
        }
        for (var i = 0; i < delIndex.length; i++) {
            fileList.splice(delIndex[i], 1);
        }
    }

    //檔案預覽
    function previewFiles(elem, displyImg) {
        var f = elem;
        var id = elem.id;
        var fileType;
        var sizePass = true;

        //檢查格式尺寸

        if (id == 'cover') {
            sizePass = checkFileLimitSize(f, fileLimitImageSize);
        } else {
            if (id == 'full') {
                sizePass = checkFileLimitSize(f, fileLimitFullBookFileSize);
            }
            else {
                sizePass = checkFileLimitSize(f, fileLimitFileSize);

            }
        }

        if (id != 'cover') {
            fileType = 'doc';
        }
        else {
            fileType = 'image';
        }

        //var fileTypeChk = checkFileExtension(f, fileType);
        if (!sizePass) {
            $('#' + id).empty();
            return;
        }
        //if (!sizePass || !fileTypeChk) {
        //    $('#' + id).empty();
        //    return;
        //}
        for (var i = 0; i < f.files.length; i++) {
            //建立Object URL
            var url = window.URL.createObjectURL(f.files[i]);
            var filename = f.files[i].name;
            var $li;
            var blobObjectFile = f.files[i];
            var ra = '';
            //For IE
            if (window.navigator.msSaveOrOpenBlob) {
                ra = Math.random();
                blobBuffer[ra] = { blobObj: blobObjectFile, fileName: filename };
            }
            if (displyImg) {
                $li = $('<li class="uploaded"><button type="button" class="btn-del file-remove-btn" del-obj="' + id + '" id="' + f.files[i].name + '">&times;</button>' +
               '<img src="' + url + '" width="100" /></li>');
            }
            else {
                $li = $('<li class="uploaded"><button type="button" class="btn-del file-remove-btn" del-obj="' + id + '" id="' + f.files[i].name + '">&times;</button>' +
                   '<a class="dlFile" ie-id="' + ra + '"  href="javascript:;" url="' + url + '" real-name="' + filename + '">' + filename + '</a>' +
                   '</li>');
            }
            var $filesBuffer = $(elem).closest('.file-buffer').find('.file-pre-ul');
            if (!f.multiple) {
                removeFileListItemByKind(id);
                $filesBuffer.empty();
            }


            if (id == 'chapter') {
                var currenIndex = $('.chaDetails').length;
                if (typeof currenIndex === 'undefined') {
                    currenIndex = 0;
                }

                $tr = $(
                '<tr class="item-group">' +
                '<td>' +
               '<span class="item-sq">' + (currenIndex + 1) + '</span>' +
                '<input type="hidden" name="chapterDetails[' + currenIndex + '].ID" class="chaDetails" value="" />' +
                '<input type="hidden" name="chapterDetails[' + currenIndex + '].MapFileID" value="" />' +
                '</td>' +
                '<td class="text-left">' + '<a  href="javascript:;" class="dlFile"  url="' + url + '"  ie-id="' + ra + '" real-name="' + filename + '">' + f.files[i].name + '</a></td>' +
                '<td><input type="text" placeholder="請輸入標題" required name="chapterDetails[' + currenIndex + '].Alias"  value="">' + '</td>' +
                '<td><input class="text-center"  name="chapterDetails[' + currenIndex + '].SQ" type="number" value="0">' + '</td>' +
                '<td>' +
                    '<button type="button" class="btn sm danger oi file-remove-btn" del-obj="' + id + '" id="' + f.files[i].name + '">&times;</button>' +
                '</td>' +
            '</tr>');

                $('.file-pre-ul-chap').append($tr);
            }
            else {
                $(elem).closest('.file-buffer').find('.file-pre-ul').append($li);
            }
            fileList.push({ type: id, files: f.files[i] });

            //註銷Object URL
            //window.URL.revokeObjectURL(url);
        }
        resetServerIndex();

    }

    //重置serverIndex
    function resetServerIndex() {
        $('.item-group').each(function (index, elem) {
            $(elem).find('.item-sq').html(index + 1);
            $(elem).find("input[name*='chapterDetails']").each(function (i, e) {
                var oldNameSplit = $(e).attr('name').split('.');
                var newModelName = 'chapterDetails[' + index + ']';
                for (var i = 1; i < oldNameSplit.length; i++) {
                    newModelName += '.' + oldNameSplit[i];
                }
                $(e).attr('name', newModelName);
                newModelName = '';
            })
        });
    }
    //檢查尺寸
    function checkFileLimitSize(totalFiles, fileLimitSize) {
        var success = true;
        for (var i = 0; i < totalFiles.files.length; i++) {
            var file = totalFiles.files[i];
            if (file.size > fileLimitSize) {
                success = false;
                alert("圖片或檔案大小不可超過" + (fileLimitSize / 1024) + " kb.");
                break;
            }
        }
        return success;
    }
    //檢查副檔名
    function checkFileExtension(totalFiles, fileType) {
        var success = true;
        var allowedExtension = [];
        var alertMsg = '';
        if (fileType == 'image') {
            allowedExtension = ["image/bmp", "image/gif", "image/jpeg", "image/jpg", "image/png"];
            alertMsg = '只允許上傳 bmp, gif, jpeg, jpg, png圖檔.';
        }
        //else if (fileType == 'doc') {
        //    allowedExtension = ["application/pdf"];
        //    alertMsg = '只允許上傳 PDF檔.';
        //}
        else {
            return success;
        }
        for (var i = 0; i < totalFiles.files.length; i++) {
            var fileExtension = totalFiles.files[i].type;
            var findIndex = $.inArray(fileExtension, allowedExtension);
            if (findIndex < 0) {
                success = false;
                alert(alertMsg);
                break;
            }
        }
        return success;
    }
</script>