@using OutWeb.Models.Manage.TypeManageModels
@model TypeManageDetailsDataModel
<input type="hidden" name="TypeID" value="@Model.ID" />
<input type="hidden" name="FilterTypeID" value="@Model.FilterTypeID" />
<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 名稱</dt>
    <dd class="col-7">
        <input type="text" name="typeName" value="@Model.TypeName" required placeholder="請輸入名稱">
    </dd>
</dl>
<dl class="field">
    <dt class="col-2">排序</dt>
    <dd class="col-7">
        <input type="number" value="@Model.Sort" class="inline" name="sortIndex">
        <small>數字愈大愈前面</small>
    </dd>
</dl>
<dl class="field">
    <dt class="col-2">停用</dt>
    <dd class="col-7">
        @*<label class="mr-8">
                <input type="radio" name="disable" class="radio">
                <i class="icon"></i>使用
            </label>

            <label>
                <input type="radio" name="disable" class="radio" value="true">
                <i class="icon"></i>停用
            </label>*@

        <label class="switch mr-8">
            <input type="checkbox" name="disable">
            <div class="slider round"></div>
        </label>
    </dd>
</dl>

<footer class="submit-bar clear mt-24">
    <button id="submitBtn" type="submit" class="btn success oi" data-glyph="circle-check">
        確認儲存
    </button>
    <button type="button" id="bakList" class="btn warning oi" data-glyph="circle-x">
        回列表
    </button>
</footer>
<script>

    function whenDisableCheck() {
        var chkSuccess = true;
        url = "@Url.Content("~/_SysAdm/CheckBookKindStatusHideHasOnUsed/")";
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: { ID: '@Model.ID' },
            dataType: 'json',
            success: function (response) {
                if (!response.success) {
                    alert(response.messages);
                    chkSuccess = false;
                }
            },
            error: function (error) {
                alert('error');
                window.location.reload();
            }
        });
        return chkSuccess;

    }
    (function ($) {

        $(function () {
            $("#bakList").click(function (event) {
                event.preventDefault();
                var url = '@Url.Action("BookKindList", "_SysAdm")';
                window.location.href = url;
            });

            $('#formManageBookKindData').submit(function () {
                if ($('[name="disable"]').is(':checked')) {
                    var chkTypeUse = whenDisableCheck();
                    if (!chkTypeUse) {
                        return false;
                    }
                }

                return true;
            });

            //停用狀態
            if ('@Model.Disabled' == '@true') {
                $('[name="disable"]').prop('checked', 'checked');
            }
            else {
                $('[name="disable"]').prop('checked', '');
            }

        })
    })(jQuery);
</script>