@using OutWeb.Models.Manage.CasesModels
@model CasesDetailsDataModel

@{
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;
    string ActionName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"]);
}

<input type="hidden" id="hdnCasesID" name="casesID" value="@Model.Data.主索引" />
<input type="hidden" id="hdnTempID" name="tempID" value="@Model.Data.樣板代碼" />

<section class="row row-x0">
    <div class="col-6">

        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 案例標題</dt>
            <dd class="col-10">
                <input type="text" name="案例標題" value="@Model.Data.案例標題" required placeholder="請輸入案例標題">
            </dd>
        </dl>

        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 設備別</dt>
            <dd class="col-10">
                @Html.DropDownList("Type1List", null, new { @id = "type1List", @Name = "type1" })
            </dd>
        </dl>

        @* 應該沒有這個
            <dl class="field">
                <dt class="col-2"><sup title="必填">*</sup> 行業別</dt>
                <dd class="col-10">
                    @Html.DropDownList("Type2List", null, new { @id = "type2List", @Name = "type2" })
                </dd>
            </dl> *@

        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 發稿時間</dt>
            <dd class="col-10">
                <input type="text" class="datepicker"  required placeholder="請輸入發稿時間" value="@Model.Data.發佈日期" name="wkDt">
            </dd>
        </dl>

        <dl class="field">
            <dt class="col-2">排序</dt>
            <dd class="col-10">
                <input type="number" value="@Model.Data.排序" class="inline" name="sortIndex">
                <small>數字愈大愈前面</small>
            </dd>
        </dl>

        <dl class="field">
            <dt class="col-2">顯示狀態</dt>
            <dd class="col-10">

                @if (Model.Data.顯示狀態)
                {
                    <label class="mr-8">
                        <input type="radio" name="fSt" class="radio" value="Y" checked>
                        <i class="icon"></i>上架
                    </label>

                    <label>
                        <input type="radio" name="fSt" value="N" class="radio">
                        <i class="icon"></i>下架
                    </label>
                }
                else
                {
                    <label class="mr-8">
                        <input type="radio" name="fSt" value="Y" class="radio">
                        <i class="icon"></i>上架
                    </label>

                    <label>
                        <input type="radio" name="fSt" value="N" class="radio" checked>
                        <i class="icon"></i>下架
                    </label>
                }
            </dd>
        </dl>
        @* 2017/11/28 追加 *@
        <dl class="field">
            <dt class="col-2">首頁顯示</dt>
            <dd class="col-10">
                <label class="switch">
                    <input type="checkbox" name="hSt" checked>
                    <div class="slider round"></div>
                </label>
            </dd>
        </dl>
    </div>
    <div class="col-6">
        @* 版面預計沒有要傳圖
            <dl class="field">
                <dt class="col-2">圖片上傳</dt>
                <dd class="col-10 append-img-m">
                    <div class="input-file">
                        <input id="images_m" type="file" onchange="postImages(this);" name="" accept="image/*" multiple>
                    </div>

                    <small class="block font-sm text-secondary">可上傳 1 張圖片，建議尺寸 450*265px，建議檔案大小不超過 1000kb</small>

                    @foreach (var img in Model.ImagesData)
                    {
                        string imgUrl = currentUrl + "/" + img.FileUrl;
                        int index = Model.ImagesData.IndexOf(img);

                        <div class="uploaded up-multiple" from="server">
                            <button class="close" type="button" del-obj="m" id="@img.FileName">&times;</button>
                            <img src="@imgUrl" width="100" />
                            <input type="hidden" id="imgID" name="ImagesData[@index].ID" value="@img.ID" />
                        </div>
                    }
                </dd>
            </dl> *@

        <dl class="field">
            <dt class="col-2">附件上傳</dt>
            <dd class="col-10 append-file-m">
                <div class="input-file">
                    <input id="files_m" type="file" onchange="postFiles(this);" multiple>
                </div>
                <ul class="file-pre-ul" style="list-style:none;">

                    @foreach (var file in Model.FilesData)
                    {
                        string imgUrl = currentUrl + "/" + file.FileUrl;
                        int index = Model.FilesData.IndexOf(file);
                        <li class="uploaded">
                            <button type="button" class="close btn-del file-remove-btn" del-obj="f" id="@file.FileName">&times;</button>
                            <a class="dlFile" href="javascript:;" url="@imgUrl" real-name="@file.RealFileName">@file.RealFileName</a>
                            <input type="hidden" id="imgID" name="FileData[@index].ID" value="@file.ID" />
                        </li>
                    }
                </ul>
            </dd>

            <dd class="col-5">
                @*<small class="align-middle font-sm text-secondary">可上傳 1 張圖片，建議尺寸 450*265px，建議檔案大小不超過 1000kb</small>*@
            </dd>
        </dl>
    </div>
</section>
<fieldset class="mt-24">
    <legend class="underline">[ 內容 ]</legend>
    <div class="alert-warning mb-16">
        <strong>編輯器注意事項:</strong><br>
        從 WORD 複製文字時，請使用下方的 <img src="/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
        編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
        檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明) <br />
        youtube 可勾選「用自適應縮放模式」
    </div>
    @* 按下會載入html樣版 *@
    <nav class="mb-8">
        @* 已載入的加 active 、 &#10003;*@
        <button type="button" class="btn-template temp-t1" temp-type="1" id="tmp1">樣版一</button>
        <button type="button" class="btn-template temp-t2" temp-type="2" id="tmp2">樣版二</button>
    </nav>
    <textarea id="art" class="form-element" maxlength="512" name="contenttext" placeholder="請輸入最新消息內容..." rows="15">@Model.Data.內容</textarea>
</fieldset>
<footer class="submit-bar clear mt-24">
    <button type="button" id="submitBtn" class="btn success oi" data-glyph="circle-check">
        確認儲存
    </button>
    <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href='CasesList'">
        回列表
    </button>
</footer>

@*
    - 樣版一的html:
    <p>文字內容</p>
    <div class="table-rwd">
        <table class="case-table fixed">
            <tbody>
                <tr>
                    <th id="h1">案例名稱</th>
                    <td colspan="3" data-title="案例名稱" headers="h1"></td>
                </tr>
                <tr>
                    <th id="h2">年度</th>
                    <td colspan="3" data-title="年度" headers="h2"></td>
                </tr>
                <tr>
                    <th id="h3">行業別</th>
                    <td colspan="3" data-title="行業別" headers="h3"></td>
                </tr>
                <tr>
                    <th id="h4">技術別</th>
                    <td colspan="3" data-title="技術別" headers="h4"></td>
                </tr>
                <tr>
                    <th id="h5">設備別</th>
                    <td colspan="3" data-title="設備別" headers="h5"></td>
                </tr>
                <tr>
                    <th id="h6">現況</th>
                    <td colspan="3" data-title="現況" headers="h6"></td>
                </tr>
                <tr>
                    <th id="h7">改善措施</th>
                    <td colspan="3" data-title="改善措施" headers="h7"></td>
                </tr>
                <tr>
                    <th id="h8">資料來源</th>
                    <td colspan="3" data-title="資料來源" headers="h8">能源資訊網</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="t1">
                    <th colspan="4" id="h9">預期效益</th>
                </tr>
                <tr class="t2">
                    <th id="h9-1">節約用電量</th>
                    <th id="h9-2">節約電費</th>
                    <th id="h9-3">投資費用</th>
                    <th id="h9-4">回收年限</th>
                </tr>
                <tr>
                    <td data-title="節約用電量" headers="h9 h9-1"></td>
                    <td data-title="節約電費" headers="h9 h9-2"></td>
                    <td data-title="投資費用" headers="h9 h9-3"></td>
                    <td data-title="回收年限" headers="h9 h9-4"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    - 樣版二的html:
    <div class="table-rwd">
        <table class="case-table fixed">
            <tbody>
                <tr>
                    <th id="h1">案例名稱</th>
                    <td colspan="3" data-title="案例名稱" headers="h1"></td>
                </tr>
                <tr>
                    <th id="h2">年度</th>
                    <td colspan="3" data-title="年度" headers="h2"></td>
                </tr>
                <tr>
                    <th id="h3">行業別</th>
                    <td colspan="3" data-title="行業別" headers="h3"></td>
                </tr>
                <tr>
                    <th id="h4">技術別</th>
                    <td colspan="3" data-title="技術別" headers="h4"></td>
                </tr>
                <tr>
                    <th id="h5">設備別</th>
                    <td colspan="3" data-title="設備別" headers="h5"></td>
                </tr>
                <tr>
                    <th id="h6">現況</th>
                    <td colspan="3" data-title="現況" headers="h6"></td>
                </tr>
                <tr>
                    <th id="h7">改善措施</th>
                    <td colspan="3" data-title="改善措施" headers="h7"></td>
                </tr>
                <tr>
                    <th id="h8">資料來源</th>
                    <td colspan="3" data-title="資料來源" headers="h8">能源資訊網</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="t1">
                    <th colspan="4" id="h9">預期效益</th>
                </tr>
                <tr class="t2">
                    <th id="h9-1">節約用電量</th>
                    <th id="h9-2">節約電費</th>
                    <th id="h9-3">投資費用</th>
                    <th id="h9-4">回收年限</th>
                </tr>
                <tr>
                    <td data-title="節約用電量" headers="h9 h9-1"></td>
                    <td data-title="節約電費" headers="h9 h9-2"></td>
                    <td data-title="投資費用" headers="h9 h9-3"></td>
                    <td data-title="回收年限" headers="h9 h9-4"></td>
                </tr>
            </tfoot>
        </table>
    </div>
*@

<script>
    (function ($) {
        function selectDefualtTemp(type) {
            $('.btn-template').empty();
            $('.btn-template').removeClass('active');
            $('#tmp' + type).addClass('active');
            var mark = '&#10003;';

            switch (type) {
                case '1':
                    $('#tmp1').html(mark + '樣板一');
                    $('#tmp2').html('樣板二');
                    $('#tmp3').html('樣板三');
                    break;
                case '2':
                    $('#tmp1').html('樣板一');
                    $('#tmp2').html(mark + '樣板二');
                    $('#tmp3').html('樣板三');
                    break;
                default:
            }
        }

        function template(type) {
            //- 樣版一的html:
            var tmp1 =
             '<p>文字內容</p>' +
    '<div class="table-rwd">' +
        '<table class="case-table fixed">' +
            '<tbody>' +
                '<tr>' +
                    '<th id="h1">案例名稱</th>' +
                    '<td colspan="3" data-title="案例名稱" headers="h1">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h2">年度</th>' +
                    '<td colspan="3" data-title="年度" headers="h2">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h3">行業別</th>' +
                    '<td colspan="3" data-title="行業別" headers="h3">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h4">技術別</th>' +
                    '<td colspan="3" data-title="技術別" headers="h4">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h5">設備別</th>' +
                    '<td colspan="3" data-title="設備別" headers="h5">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h6">現況</th>' +
                    '<td colspan="3" data-title="現況" headers="h6">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h7">改善措施</th>' +
                    '<td colspan="3" data-title="改善措施" headers="h7">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h8">資料來源</th>' +
                    '<td colspan="3" data-title="資料來源" headers="h8">能源資訊網</td>' +
                '</tr>' +
            '</tbody>' +
            '<tfoot>' +
                '<tr class="t1">' +
                    '<th colspan="4" id="h9">預期效益</th>' +
                '</tr>' +
                '<tr class="t2">' +
                    '<th id="h9-1">節約用電量</th>' +
                    '<th id="h9-2">節約電費</th>' +
                    '<th id="h9-3">投資費用</th>' +
                    '<th id="h9-4">回收年限</th>' +
                '</tr>' +
                '<tr>' +
                    '<td data-title="節約用電量" headers="h9 h9-1">' + '</td>' +
                    '<td data-title="節約電費" headers="h9 h9-2">' + '</td>' +
                    '<td data-title="投資費用" headers="h9 h9-3">' + '</td>' +
                    '<td data-title="回收年限" headers="h9 h9-4">' + '</td>' +
                '</tr>' +
            '</tfoot>' +
        '</table>' +
    '</div>';

            //- 樣版二的html:
            var tmp2 =
           '<div class="table-rwd">' +
        '<table class="case-table fixed">' +
            '<tbody>' +
                '<tr>' +
                    '<th id="h1">案例名稱</th>' +
                    '<td colspan="3" data-title="案例名稱" headers="h1">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h2">年度</th>' +
                    '<td colspan="3" data-title="年度" headers="h2">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h3">行業別</th>' +
                    '<td colspan="3" data-title="行業別" headers="h3">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h4">技術別</th>' +
                    '<td colspan="3" data-title="技術別" headers="h4">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h5">設備別</th>' +
                    '<td colspan="3" data-title="設備別" headers="h5">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h6">現況</th>' +
                    '<td colspan="3" data-title="現況" headers="h6">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h7">改善措施</th>' +
                    '<td colspan="3" data-title="改善措施" headers="h7">' + '</td>' +
                '</tr>' +
                '<tr>' +
                    '<th id="h8">資料來源</th>' +
                    '<td colspan="3" data-title="資料來源" headers="h8">能源資訊網</td>' +
                '</tr>' +
            '</tbody>' +
            '<tfoot>' +
                '<tr class="t1">' +
                    '<th colspan="4" id="h9">預期效益</th>' +
                '</tr>' +
                '<tr class="t2">' +
                    '<th id="h9-1">節約用電量</th>' +
                    '<th id="h9-2">節約電費</th>' +
                    '<th id="h9-3">投資費用</th>' +
                    '<th id="h9-4">回收年限</th>' +
                '</tr>' +
                '<tr>' +
                    '<td data-title="節約用電量" headers="h9 h9-1">' + '</td>' +
                    '<td data-title="節約電費" headers="h9 h9-2">' + '</td>' +
                    '<td data-title="投資費用" headers="h9 h9-3">' + '</td>' +
                    '<td data-title="回收年限" headers="h9 h9-4">' + '</td>' +
                '</tr>' +
            '</tfoot>' +
        '</table>' +
    '</div>';

            return type == '1' ? tmp1 : type == '2' ? tmp2 : tmp1;
        }

        $(function () {
            //alert(CKEDITOR.version);
            $('#formManageCasesData').submit(function () {
                if ($('#type1List').val() == '') {
                    alert('請選擇設備別!');
                    return false;
                }

                //if ($('#type2List').val() == '') {
                //    alert('請選擇行業別!');
                //    return false;
                //}
            });

            if ('@Model.Data.顯示狀態' == '@true') {
                $('[name="disable"]').prop('checked', 'checked');
            }
            else {
                $('[name="disable"]').prop('checked', '');
            }

            if ('@Model.Data.首頁顯示' == '@true') {
                $('[name="hSt"]').prop('checked', 'checked');
            }
            else {
                $('[name="hSt"]').prop('checked', '');
            }
            CKFinder.setupCKEditor(null, { basePath: '/ckfinder/', skin: 'v1' });
            CKEDITOR.replace('contenttext');

            $('.btn-template').click(function () {

                 if (confirm('是否確定更換樣板？更換樣版將會失去已變更的內容。')) {
                    var type = $(this).attr('temp-type');
                    $('#hdnTempID').val(type);
                    selectDefualtTemp(type);
                    var getTemp = template(type);
                    CKEDITOR.instances['art'].setData(getTemp);
                 } else {
                     return;
                 }
            });

            if ('@Model.Data.主索引' == '0') {
                selectDefualtTemp('1');
            }
            else {
                selectDefualtTemp('@Model.Data.樣板代碼');
            }
        })
    })(jQuery);
</script>

@*File Upload JS*@
<script>
    var fileList = [];
    var fileLimitImageSize = 1048576;//圖片大小1mb 單位bit
         var fileLimitFileSize = 2097152//檔案大小2mb 單位bit
         var blobBuffer = {};

    //驗證Required欄位
    function validHtmlFormRequired() {
        var valid = true;
        var form = document.getElementById('formManageCasesData');
        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                alert(form.elements[i].placeholder);
                valid = false;
                return;
            }
        }
        return valid;
    }

    $(function () {

        //刪除圖片
        $(document).on('click', '.close', function () {
            var delIndex = [];
            var id = $(this).attr('id');
            var t = $(this).attr('del-obj');
            for (var i = 0; i < fileList.length; i++) {
                var data = fileList[i];
                if (data.type == t && data.files.name == id) {
                    delIndex.push(i);
                }
            }
            for (var i = 0; i < delIndex.length; i++) {
                fileList.splice(delIndex[i], 1);
            }
            $(this).closest('.uploaded ').remove();
        });

        $('#submitBtn').click(function () {
            var valid = validHtmlFormRequired();
            if (!valid) {
                return false;
            }
            SaveImages();
        });
    })

    //圖片/檔案存server
    function SaveImages() {
        if ($('#type1List').val() == '') {
            alert('請選擇設備別!');
            return false;
        }
        $('#images_s').val('');
        $('#images_m').val('');
        //重置ckeditor content
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
        var ID = $('#hdnCasesID').val();
        var formData = document.getElementById('formManageCasesData');
        formData = new FormData(formData);

        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == 's') {
                formData.append('image', data.files);
            }
            else if (data.type == 'm') {
                formData.append('images', data.files);
            }
            else if (data.type == 'f') {
                formData.append('files', data.files);
            }
        }

        formData.append("act", 'post');
        formData.append("actionName", '@ActionName');
        formData.append("ID", ID);

        var url = '';
        if (ID == 0) {
            url = "@Url.Content("~/_SysAdm/CasesDataAdd/")";
        }
        else {
            url = "@Url.Content("~/_SysAdm/CasesDataEdit/")";
        }
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                window.location.href = response.Url;
            },
            error: function (error) {
                alert('error');
                window.location.reload();
            }
        });
    }

    //下載檔案存為指定檔名
    function downloadFile(elem) {
        //for IE
        if (window.navigator.msSaveOrOpenBlob) {
            if (Object.keys(blobBuffer).length > 0) {
                var key = $(elem).attr('ie-id');
                var obj = blobBuffer[key];

                var blobObject = new Blob([obj.blobObj]);
                window.navigator.msSaveOrOpenBlob(blobObject, obj.fileName);
            }
        }
        else {
            $(elem).attr('download', $(elem).attr('real-name'))
           .attr('href', $(elem).attr('url'))
           .attr('target', '_blank');
        }
    }

    //檔案下載
    $(document).on('click', '.dlFile', function () {
        downloadFile(this);
    });
    //檔案刪除
    $(document).on('click', '.file-remove-btn', function () {
        var delIndex = [];
        var id = $(this).attr('id');
        var t = $(this).attr('del-obj');
        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == t && data.files.name == id) {
                delIndex.push(i);
            }
        }
        for (var i = 0; i < delIndex.length; i++) {
            fileList.splice(delIndex[i], 1);
        }
        $(this).parent('li').remove();
    })

    //檔案預覽
    function postFiles(elem) {
        var f = document.getElementById('files_m');
        //檢查格式尺寸
        var sizePass = checkFileLimitSize(f, fileLimitFileSize);
        if (!sizePass) {
            return;
        }
        for (var i = 0; i < f.files.length; i++) {
            //建立Object URL
            var url = window.URL.createObjectURL(f.files[i]);
            var filename = f.files[i].name;
            var blobObjectFile = f.files[i];
            var ra = '';
            //For IE
            if (window.navigator.msSaveOrOpenBlob) {
                ra = Math.random();
                blobBuffer[ra] = { blobObj: blobObjectFile, fileName: filename };
            }

            var $li = '<li class="uploaded"><button type="button" class="btn-del file-remove-btn" del-obj="f" id="' + f.files[i].name + '">&times;</button>' +
                '<a class="dlFile" ie-id="' + ra + '"  href="javascript:;" url="' + url + '" real-name="' + filename + '">' + filename + '</a>' +
                '</li>';

            $('.file-pre-ul').append($li);
            fileList.push({ type: 'f', files: f.files[i] });

            //註銷Object URL
            //window.URL.revokeObjectURL(url);
        }

    }

    //圖片預覽
    function postImages(elem) {
        var formData = new FormData();
        var mode = $(elem).attr('id');
        var ID = $('#hdnCasesID').val();
        //append files
        if (mode == 'images_s') {
            $('.up-single').remove();
            for (var i = 0; i < fileList.length; i++) {
                var data = fileList[i];
                if (data.type == 's') {
                    fileList.splice(i, 1);
                }
            }
            var f = document.getElementById('images_s');
            //檢查格式尺寸
            var sizePass = checkFileLimitSize(f, fileLimitImageSize);
            var typePass = checkFileExtension(f);
            if (!sizePass || !typePass) {
                return;
            }
            fileList.push({ type: 's', files: f.files[0] });
        }
        else if (mode == 'images_m') {
            var f = document.getElementById('images_m');
            //檢查格式尺寸
            var sizePass = checkFileLimitSize(f, fileLimitImageSize);
            var typePass = checkFileExtension(f);
            if (!sizePass || !typePass) {
                return;
            }

            for (var i = 0; i < f.files.length; i++) {
                fileList.push({ type: 'm', files: f.files[i] });
            }
        }

        formData.append("act", 'upload');
        formData.append("UploadType", mode);
        formData.append("actionName", '@ActionName');
        formData.append("ID", ID);
        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == 's') {
                formData.append('image', data.files);
            }
            else if (data.type == 'm') {
                formData.append('images', data.files);
            }
        }

        var url = "@Url.Content("~/ImgHandler/Index/")";
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                var imgUrl = '@currentUrl' + '/';
                if (response.redirectToActionUrl != null) {
                    window.location.href = response.redirectToActionUrl;
                }

                if (response.MemberData.length > 0) {
                    $('.up-single').remove();
                }
                if (response.MemberDataMultiple.length > 0) {
                    var currentCount = $('.up-multiple').length;
                    if (currentCount > 0) {
                        $('.up-multiple').each(function () {
                            var chkFrom = $(this).attr('from');
                            if (typeof chkFrom === 'undefined') {
                                $(this).remove();
                            }
                        });
                    }
                }

                for (var i = 0; i < response.MemberData.length; i++) {
                    var img = response.MemberData[i];
                    var $elemInsert =
                       '<div class="uploaded up-single">' +
                           '<button class="close btn-del" type="button" del-obj="s" id="' + img.FileName + '">&times;</button>' +
                           '<img src="' + imgUrl + img.FileUrl + '" width="100" />' +
                       '</div>';
                    $('.append-img-s').append($elemInsert);
                }
                for (var i = 0; i < response.MemberDataMultiple.length; i++) {
                    var img = response.MemberDataMultiple[i];
                    var $elemInsert =
                    '<div class="uploaded up-multiple">' +
                        '<button class="close btn-del" type="button" del-obj="m"  id="' + img.FileName + '">&times;</button>' +
                        '<img src="' + imgUrl + img.FileUrl + '" width="100" />' +
                    '</div>';
                    $('.append-img-m').append($elemInsert);
                }

            },
            error: function (error) {
                alert("errror");
            }
        });
    }

    //檢查尺寸
    function checkFileLimitSize(totalFiles, fileLimitSize) {
        var success = true;
        for (var i = 0; i < totalFiles.files.length; i++) {
            var file = totalFiles.files[i];
            if (file.size > fileLimitSize) {
                success = false;
                alert("圖片或檔案大小不可超過" + (fileLimitSize / 1024) + " kb.");
                break;
            }
        }
        return success;
    }
    //檢查副檔名
    function checkFileExtension(totalFiles) {
        var success = true;
        var allowedExtension = ["image/bmp", "image/gif", "image/jpeg", "image/jpg", "image/png"];
        for (var i = 0; i < totalFiles.files.length; i++) {
            var fileExtension = totalFiles.files[i].type;
            var findIndex = $.inArray(fileExtension, allowedExtension);
            if (findIndex < 0) {
                success = false;
                alert("只允許上傳 bmp, gif, jpeg, jpg, png圖檔.");
                break;
            }
        }
        return success;
    }
</script>