@using OutWeb.Models.Manage.ManageNewsModels
@model NewsDetailsDataModel
@{
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;
    string ActionName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"]);
}

<input type="hidden" id="hdnNewsID" name="pageId" value="@Model.Data.ID" />
<section class="row row-x0">

    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 發佈時間</dt>
        <dd class="col-4">
            <input type="text" class="datepicker" required name="publishDate" value="@Model.Data.PUB_DT_STR" placeholder="請輸入發佈日期">
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 標題</dt>
        <dd class="col-10">
            <input type="text" name="title" value="@Model.Data.TITLE" required placeholder="請輸入標題">
        </dd>
    </dl>

    <dl class="field">
        <dt class="col-2">排序</dt>
        <dd class="col-7">
            <input type="number" value="@Model.Data.SQ" class="inline" name="sortIndex" step="0.1">
            <small>數字愈大愈前面</small>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">首頁顯示</dt>
        <dd class="col-7">
            <label class="switch">
                <input type="checkbox" name="disHome" checked>
                <div class="slider round"></div>
            </label>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">顯示狀態</dt>
        <dd class="col-7">
            <!-- 新增時預設上架 -->
            @if (!Model.Data.DISABLE)
            {
                <label class="mr-8">
                    <input type="radio" name="disable" class="radio" value="false" checked>
                    <i class="icon"></i>上架
                </label>

                <label>
                    <input type="radio" name="disable" value="true" class="radio">
                    <i class="icon"></i>下架
                </label>
            }
            else
            {
                <label class="mr-8">
                    <input type="radio" name="fSt" value="false" class="radio">
                    <i class="icon"></i>上架
                </label>

                <label>
                    <input type="radio" name="fSt" value="true" class="radio" checked>
                    <i class="icon"></i>下架
                </label>
            }
        </dd>
    </dl>
</section>

<fieldset class="mt-24">
    <legend class="underline">[ 內容 ]</legend>
    <div class="alert-warning mb-16">
        <strong>編輯器注意事項:</strong><br>
        從 WORD 複製文字時，請使用下方的 <img src="/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
        編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
        檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明) <br />
        youtube 可勾選「用自適應縮放模式」
    </div>
    <textarea id="art" class="form-element" maxlength="512" name="contenttext" placeholder="請輸入最新消息內容..." rows="15">
        @Model.Data.CONTENT
    </textarea>
</fieldset>
<footer class="submit-bar clear mt-24">
    <button id="submitBtn" type="submit" class="btn success oi" data-glyph="circle-check">
        確認儲存
    </button>
    <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href = '/_SysAdm/NewsList'">
        回列表
    </button>
</footer>


<script>
        if ('@Model.Data.HOME_PAGE_DISPLAY' == '@true') {
            $('[name="disHome"]').prop('checked', 'checked');
        }
        else {
            $('[name="disHome"]').prop('checked', '');
        }

    $(function () {
        CKFinder.setupCKEditor(null, { basePath: '/ckfinder/', skin: 'v1' });
        CKEDITOR.replace('contenttext');
    })
</script>
