@using OutWeb.Models.Manage.QuestionnairesModels
@model QuestionDetailsDataModel
@{
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;
    string ActionName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"]);
}
<input type="hidden" id="hdnQuestionnairesID" name="ID" value="@Model.ID" />

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 問卷主題</dt>
    <dd class="col-9">
        <input type="text" name="Title" value="@Model.Title" required placeholder="請輸入問卷主題">
    </dd>
</dl>

<dl class="field">
    <dt class="col-2">描述說明</dt>
    <dd class="col-9">
        @*<input type="text" name="Description" value="@Model.Description" required placeholder="問卷描述說明，可告知訪客問卷目的">*@
        <textarea name="Description" placeholder="問卷描述說明，可告知訪客問卷目的">@Model.Description</textarea>
        <small class="text-secondary">輸入超連結語法：&lt;a href="輸入網址" target="new"&gt;顯示文字&lt;/a&gt;</small>
    </dd>
</dl>
<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 開放時間</dt>
    <dd class="col-9">
        <input type="text" class="inline datepicker" name="OpeningTime" value="@Model.OpeningTime" required>~
        <input type="text" class="inline datepicker" name="EndTime" value="@Model.EndTime" required>
        <small class="inline-block text-danger">* 問卷可填寫時間</small>
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 顯示狀態</dt>
    <dd class="col-9">
        @* <label class="switch">
            <input type="checkbox" name="Status" checked>
            <div class="slider round"></div>
            </label> *@
        @if (Model.Status == "Y")
        {
            <label class="mr-8">
                <input type="radio" name="Status" class="radio" value="Y" checked />
                <i class="icon"></i>上架
            </label>
            <label>
                <input type="radio" name="Status" class="radio" value="N" />
                <i class="icon"></i>下架
            </label>
        }
        else if (Model.Status == "N")
        {
            <label class="mr-8">
                <input type="radio" name="Status" class="radio" value="Y" />
                <i class="icon"></i>上架
            </label>
            <label>
                <input type="radio" name="Status" class="radio" value="N" checked />
                <i class="icon"></i>下架
            </label>
        }
        else
        {
             <label class="mr-8">
            <input type="radio" name="Status" class="radio" value="Y" checked/>
            <i class="icon"></i>上架
        </label>
            <label>
                <input type="radio" name="Status" class="radio" value="N" />
                <i class="icon"></i>下架
            </label>
        }

    </dd>
</dl>

<dl class="field">
    <dt class="col-2">排序</dt>
    <dd class="col-9">
        <input type="number" value="@Model.Sort" class="inline" name="Sort" required>
        <small>數字愈大愈前面</small>
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 預計發出量</dt>
    <dd class="col-9">
        <input type="number" class="inline" name="SendCount" value="@Model.SendCount" required>
    </dd>
</dl>

<dl class="field">
    <dt class="col-2">需要登入</dt>
    <dd class="col-9">
        <label class="switch mr-8">
            @if (Model.IsSignIn == "on")
            {
                <input type="checkbox" name="IsSignIn" checked>
            }
            else
            {
                <input type="checkbox" name="IsSignIn">
            }
            <div class="slider round"></div>
        </label>
        (帳號/密碼)
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"> 問卷網址</dt>
    <dd class="col-9">
        <input type="text" name="Url" value="@Model.Url" readonly>
    </dd>
</dl>

<fieldset class="mt-24">
    <legend class="underline">[ 問卷題目 ]</legend>

    <nav class="add-qus p-8 mb-24">
        <h5 class="mt-0 mr-16 inline-block">新增題目</h5>
        <input type="button" class="btn insert-question" name="name" value="單選" id="qSingle" code="1" />
        <input type="button" class="btn insert-question" name="name" value="複選" id="qMultiple" code="2" />
        <input type="button" class="btn insert-question" name="name" value="下拉式" id="qDropdown" code="3" />
        <input type="button" class="btn insert-question" name="name" value="問答(單行)" id="qText" code="4" />
        <input type="button" class="btn insert-question" name="name" value="問答(多行)" id="qTextarea" code="5" />
        <input type="button" class="btn insert-question" name="name" value="日期" id="qDate" code="6" />
        <input type="button" class="btn insert-question" name="name" value="時間" id="qTime" code="7" />
    </nav>

    <div class="question-area">
        @foreach (var question in Model.Data.Topic)
        {
            int questionIndex = Model.Data.Topic.IndexOf(question);
            <section class="question-items cells" server-index="@questionIndex">
                <header class="cell text-center">
                    <strong class="font-xl block mb-8 question-item-title" style="width:100%;">@(questionIndex + 1)</strong>
                    @if (question.IsCanDelete)
                    {
                        <input type="button" class="btn sm danger del-item" name="" value="刪除">
                    }
                    else
                    {
                        <input type="button" disabled class="btn sm danger del-item" name="" value="刪除">
                    }
                </header>
                <main class="cell question-item-content">
                    <div class="question-item" index="@(questionIndex+1)">
                        <dl class="field">
                            <dt class="col-1">題型</dt>
                            <dd class="col-6 form-label underline">
                                <input type="hidden" name="Data.Topic[@questionIndex].TopicType" value="@question.TopicType">
                                @question.TopicTypeName
                            </dd>
                            <dd class="col-5 text-right">
                                必填
                                <label class="switch mr-16">
                                    @if (question.Required == "on")
                                    {
                                        <input type="checkbox" name="Data.Topic[@questionIndex].Required" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="Data.Topic[@questionIndex].Required">
                                    }
                                    <div class="slider round"></div>
                                </label>
                                <label for="" class="form-label">排序</label>
                                <input type="number" name="Data.Topic[@questionIndex].Sort" value="@question.Sort" class="item-sort inline">
                            </dd>
                        </dl>
                        <dl class="field">
                            <dt class="col-1"><sup title="必填">*</sup> 題目</dt>
                            <dd class="col-11">
                                <input type="hidden" name="Data.Topic[@questionIndex].BeforeID" value="@question.ID" />
                                @* <input type="text" name="Data.Topic[@questionIndex].TopicContent" placeholder="請輸入題目" required value="@question.TopicContent"> *@
                                <textarea name="Data.Topic[@questionIndex].TopicContent" placeholder="請輸入題目" required>@question.TopicContent</textarea>
                            </dd>
                        </dl>


                        <dl class="field item-area">

                            @if (question.Option.Count > 0)
                            {
                                <dt class="col-1"><sup title="必填">*</sup> 選項</dt>

                                <dd class="col-11 item-area-div">
                                    @foreach (var op in question.Option)
                                    {
                                        int index = question.Option.IndexOf(op);
                                        @*<span style="float: left;margin-right: 5px;">@(index + 1)</span>*@

                                        <div class="input-group mt-8">
                                            <input type="hidden" name="Data.Topic[@questionIndex].Option[@index].BeforeOptionID" value="@op.OptionID" />
                                            <input type="hidden" name="Data.Topic[@questionIndex].Option[@index].Sort" value="@op.Sort" />


                                            <span class="input-group-box"><input type="text" name="Data.Topic[@questionIndex].Option[@index].OptionValue" placeholder="請輸入回答選項" class="ans-item-txt" required value="@op.OptionValue"></span>

                                            @if (op.IsCanDeleteOption)
                                            {
                                                <button type="button" class="input-group-btn danger oi del-ans" data-glyph="trash"></button>
                                            }
                                            else
                                            {
                                                <button type="button" class="input-group-btn danger oi del-ans" disabled data-glyph="trash"></button>
                                            }

                                        </div>

                                        @*<div class="input-group mt-8">
                                            <label><input type="text" placeholder="請輸入回答選項..." required></label>
                                            <button class="input-group-btn danger oi" data-glyph="trash"></button>
                                            </div>*@

                                    }

                                </dd>
                            }

                            @if (question.Option.Count > 0)
                            {
                                <dd class="col-11 offset-1">
                                    <button type="button" name="name" class="new-ans oi new-ans" data-glyph="plus">新增回答選項</button>
                                </dd>
                            }
                        </dl>

                    </div>
                </main>
            </section>


        }

    </div>

</fieldset>

<footer class="submit-bar clear mt-24">
    <button id="submitBtn" type="button" class="btn success oi" data-glyph="circle-check">
        確認儲存
    </button>
    <button type="button" id="bakList" class="btn warning oi" data-glyph="circle-x">
        回列表
    </button>
</footer>

<script>
    if ('@ViewBag.Error' != '') {
        alert('@ViewBag.Error');
    }
    //重新排序顯示題號
    function reSortForItemIndex() {
        $('.question-item-title').each(function (i, ele) {
            $(this).text(i + 1);
        })

    }

    $('#bakList').click(function (e) {
        e.preventDefault();
        window.location.href = '@Url.Action("QuestionnairesList", "_SysAdm")'
    });
    $('.insert-question').click(function () {
        var qType = $(this).attr('id');
        var qCode = $(this).attr('code');
        var qName = $(this).val();
        var $area = $('.question-area');
        var index = $('.question-item-title').length == 0 ? 1 : $('.question-item-title').length + 1;

        var serverIndex = index - 1;
        var sortVal = 99;
        //遞減排序號碼
        var sortAry = [];
        $('.question-item').each(function (i, e) {
            var sortVal = $(e).find('.item-sort').val();
            if (sortVal != '' && sortVal != '0' && typeof sortVal !== 'undefined') {
                sortAry.push(parseInt(sortVal));
            }
        });
        if (sortAry.length > 0) {
            sortVal = Math.min.apply(Math, sortAry) - 1;
        }

        //基本樣板
        var $newQuestionTemp =
      $(
'<section class="question-items cells" server-index="' + serverIndex + '">' +
    '<header class="cell text-center">' +
        '<strong class="font-xl block mb-8 question-item-title" style="width:100%;">' + index + '</strong>' +
        '<input type="button" class="btn sm danger del-item" name="" value="刪除">' +
    '</header>' +
        '<main class="cell question-item-content">' +
            '<div class="question-item">' +

            '<dl class="field">' +
                '<dt class="col-1">題型</dt>' +
                    '<dd class="col-6 form-label underline">' +
                        '<input type="hidden" name="Data.Topic[' + serverIndex + '].TopicType" value="' + qCode + '">' +
                        qName +
                    '</dd>' +
                    '<dd class="col-5 text-right">必填' +
                        '<label class="switch mr-16">' +
                        '<input type="checkbox" name="Data.Topic[' + serverIndex + '].Required">' +
                        '<div class="slider round">' + '</div>' +
                        '</label>' +
                        '<label for="" class="form-label">排序</label>' +
                        '<input type="number" name="Data.Topic[' + serverIndex + '].Sort" value="' + sortVal + '" class="item-sort inline">' +
                    '</dd>' +
             '</dl>' +
                    '<dl class="field">' +
                    '<dt class="col-1">' + '<sup title="必填">*</sup>題目</dt>' +
                    '<dd class="col-11">' +
                    //'<input type="text" name="Data.Topic[' + serverIndex + '].TopicContent" placeholder="請輸入題目" required>' +
                    '<textarea name="Data.Topic[' + serverIndex + '].TopicContent" placeholder="請輸入題目" required></textarea>' +
                '</dd>' +
            '</dl>' +
            '</div>' +
        '</main>' +
'</section>'
);

        //新增回答按鈕
        var $insertItemBtn =
          $(
                    '<dd class="col-11 offset-1">' +
                        '<button type="button" name="name" class="new-ans oi new-ans" data-glyph="plus">新增回答選項</button>' +
                    '</dd>'
            );

        //刪除題目按鈕
        //var $deleteItemBtn =
        //    $(
        //'<dl class="field">' +
        //    '<dd class="col-8">' +
        //        '<input type="button" class="btn btn-danger del-item" name="name" value="刪除題目" />' +
        //    '</dd>' +
        //'</dl>');

        //回答選項
        var $ansItemTemp =
            $(
                '<dl class="field item-area">' +
                '<dt class="col-1">' + '<sup title="必填">*</sup>選項</dt>' +
                '<dd class="col-11 item-area-div" test="fuck">' +
                    '<div class="input-group mt-8">' +
                        '<input type="hidden" name="Data.Topic[' + serverIndex + '].Option[0].BeforeOptionID" value="">' +
                        '<input type="hidden" name="Data.Topic[' + serverIndex + '].Option[0].Sort" value="">' +
                        '<span class="input-group-box">' + '<input type="text" name="Data.Topic[' + serverIndex + '].Option[0].OptionValue" placeholder="請輸入回答選項" class="ans-item-txt" required value=""></span>' +
                        '<button type="button" class="input-group-btn danger oi del-ans" data-glyph="trash"></button>' +
                    '</div>' +
                '</dd>' +
                '</dl>'
                );

        //server Index 回傳後端用
        $newQuestionTemp.find('.question-item').attr('index', index);
        //顯示題號重置
        reSortForItemIndex();

        switch (qType) {
            case 'qSingle':
                $newQuestionTemp.find('.question-item').append($ansItemTemp);
                $newQuestionTemp.find('.item-area').append($insertItemBtn);
                break;
            case 'qMultiple':
                $newQuestionTemp.find('.question-item').append($ansItemTemp);
                $newQuestionTemp.find('.item-area').append($insertItemBtn);

                break;
            case 'qDropdown':
                $newQuestionTemp.find('.question-item').append($ansItemTemp);
                $newQuestionTemp.find('.item-area').append($insertItemBtn);
                break;
            case 'qText':
                break;
            case 'qTextarea':
                break;
            case 'qDate':
                break;
            case 'qTime':
                break;
            default:
        }
        $newQuestionTemp.find('.question-item');

        $area.append($newQuestionTemp);
        //重置serverIndex
        resetServerIndex();

    });

    //新增選項
    $(document).on('click', '.new-ans', function () {
        var serverIndex = $(this).closest('.question-items').attr('server-index');

        var $area = $(this).closest('dl').find('.item-area-div');
        var serverItemCount = $(this).closest('dl').find('.item-area-div').find('div').length;
        var $newAnsTemp =
            $(
            '<div class="input-group mt-8">' +
                '<input type="hidden" name="Data.Topic[' + serverIndex + '].Option[' + serverItemCount + '].BeforeOptionID" value="">' +
                '<input type="hidden" name="Data.Topic[' + serverIndex + '].Option[' + serverItemCount + '].Sort" value="">' +
                '<span class="input-group-box">' + '<input type="text" name="Data.Topic[' + serverIndex + '].Option[' + serverItemCount + '].OptionValue" placeholder="請輸入回答選項" class="ans-item-txt" value="" required>' + '</span>' +
                '<button type="button" class="input-group-btn danger oi del-ans" data-glyph="trash">' + '</button>' +
            '</div>'
            );
        $newAnsTemp.appendTo($area);

        //重置serverIndex
        $items = $(".question-items[server-index='" + serverIndex + "']").find('.item-area-div').find('div');
        $items.each(function (index, ele) {
            var $txt = $(ele).find('.ans-item-txt');
            $txt.attr('name', 'Data.Topic[' + serverIndex + '].Option[' + index + '].OptionValue');
            $txt.closest('label').prev().attr('name', 'Data.Topic[' + serverIndex + '].Option[' + index + '].Sort');
            $txt.closest('label').prev().val(index + 1);
            //BeforeOptionID
            $txt.closest('label').prev().prev().attr('name', 'Data.Topic[' + serverIndex + '].Option[' + index + '].BeforeOptionID');
            $(ele).find('span').text(index + 1);
        });
    });

    //刪除回答
    $(document).on('click', '.del-ans', function () {
        var $elem = $(this);
        var serverIndex = $elem.closest('.question-items').attr('server-index');

        var $items = $elem.closest('.item-area-div').find('div');
        var itemCount = $items.length;

        if (itemCount > 1) {
            $elem.closest('div').remove();
            //重置serverIndex
            $items = $(".question-items[server-index='" + serverIndex + "']").find('.item-area-div').find('div');
            $items.each(function (index, ele) {
                var $txt = $(ele).find('.ans-item-txt');
                $txt.attr('name', 'Data.Topic[' + serverIndex + '].Option[' + index + '].OptionValue');
                $txt.closest('label').prev().attr('name', 'Data.Topic[' + serverIndex + '].Option[' + index + '].Sort');
                $txt.closest('label').prev().val(index + 1);
                //BeforeOptionID
                $txt.closest('label').prev().prev().attr('name', 'Data.Topic[' + serverIndex + '].Option[' + index + '].BeforeOptionID');
                $(ele).find('span').text(index + 1);
            });
        }
    });

    $('#submitBtn').click(function () {
        var valid = validHtmlFormRequired();
        if (!valid) {
            return false;
        }
        $('#formManageQuestionData')[0].submit();
    });

    //刪除題目
    $(document).on('click', '.del-item', function () {
        $(this).closest('.question-items').remove();
        //重置serverIndex
        resetServerIndex();
    });

    //重置serverIndex
    function resetServerIndex() {
        $('.question-items').each(function (index, elem) {
            $(elem).attr('server-index', index);
            $(elem).find("input[name*='Data.Topic']").each(function (i, e) {
                var oldNameSplit = $(e).attr('name').split('.');
                var newModelName = 'Data.Topic[' + index + ']';
                for (var i = 2; i < oldNameSplit.length; i++) {
                    newModelName += '.' + oldNameSplit[i];
                }
                $(e).attr('name', newModelName);
                newModelName = '';
            })
        });
        //顯示題號重置
        reSortForItemIndex();
    }


    //驗證Required欄位
    function validHtmlFormRequired() {
        var valid = true;
        var form = document.getElementById('formManageQuestionData');
        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                if ($('.question-area').length > 0) {
                    debugger;
                    var qIndex = $(form.elements[i]).closest('.question-item').attr('index');
                }
                alert('第' + qIndex + '題 ，' + form.elements[i].placeholder);
                valid = false;
                return;
            }
        }
        return valid;
    }
</script>
