@using OutWeb.Models.Manage.ManageTrainApplyModels
@model TrainApplyDataModel
<div class="modal">
    <div class="modal-content p-8">
        <header class="modal-header clearfix">
            報名詳細資料
            <button onclick="closeModal();" class="modal-close pull-right">&#10005;</button>
        </header>

        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmManageTrainApplyView", @class = "form-list mt-12" }))
        {
            <section class="row">
                <div class="col-6">
                    <dl class="field">
                        <dt class="col-3">用戶編號</dt>
                        <dd class="col-9 form-label underline">@Model.UserNo</dd>
                    </dl>
                    <dl class="field">
                        <dt class="col-3">公司名稱</dt>
                        <dd class="col-9 form-label underline">@Model.CompanyName</dd>
                    </dl>
                    <dl class="field">
                        <dt class="col-3">公司電話</dt>
                        <dd class="col-9 form-label underline">@Model.CompanyPhone</dd>
                    </dl>
                    <dl class="field">
                        <dt class="col-3">公司傳真</dt>
                        <dd class="col-9 form-label underline">@Model.CompanyPhone</dd>
                    </dl>
                    <dl class="field">
                        <dt class="col-3">葷/素</dt>
                        <dd class="col-9 form-label underline">@Model.ParticipantsData.Where(o => o.DietType == OutWeb.Enums.DietCategory.Meat).Count() / @Model.ParticipantsData.Where(o => o.DietType == OutWeb.Enums.DietCategory.Vegetarian).Count()</dd>
                    </dl>
                </div>
                <div class="col-6">
                    <dl class="field">
                        <dt class="col-3">聯絡人</dt>
                        <dd class="col-9 form-label underline">@Model.ContactName</dd>
                    </dl>
                    <dl class="field">
                        <dt class="col-3">手機</dt>
                        <dd class="col-9 form-label underline">@Model.ContactPhone</dd>
                    </dl>
                    <dl class="field">
                        <dt class="col-3">E-mail</dt>
                        <dd class="col-9 form-label underline">@Model.Email</dd>
                    </dl>
                </div>
            </section>
            <fieldset class="mt-24">
                <legend class="underline">[ 參加人員 ]</legend>
                <table class="table-list table-hover table-striped">
                    <colgroup>
                        <col style="width:48px">
                        <col span="2">
                        <col style="width:10%">
                        <col span="2" style="width:14%">
                    </colgroup>
                    <tr>
                        <th>#</th>
                        <th class="text-left">姓名</th>
                        <th class="text-left">職稱</th>
                        <th>葷/素</th>
                        <th>報名狀態</th>
                        <th>繳費狀態</th>
                    </tr>
                    @foreach (var pa in Model.ParticipantsData)
                    {
                        string foodTypeStr = pa.DietTypeValue == "Meat" ? "葷" : "素";
                        //int sq = Model.ParticipantsData.IndexOf(pa) + 1;
                        <tr class="participantsData">
                            <td>
                                @pa.ID
                                <input type="hidden" name="name" value="@pa.ID" />
                            </td>
                            <td class="text-left">@pa.Name</td>
                            <td class="text-left">@pa.JobTitle</td>
                            <td>@foodTypeStr</td>
                            <td>
                                <select name="StatusCode" id="StatusCode">
                                    @switch (pa.StatusCode)
                                    {
                                        case 0:
                                            <option value="1">報名完成</option>
                                            <option value="2">額滿候補</option>
                                            <option value="0" selected>取消報名</option>
                                            break;
                                        case 1:
                                            <option value="1" selected>報名完成</option>
                                            <option value="2">額滿候補</option>
                                            <option value="0">取消報名</option>
                                            break;
                                        case 2:
                                            <option value="1">報名完成</option>
                                            <option value="2" selected>額滿候補</option>
                                            <option value="0">取消報名</option>
                                            break;
                                        default:
                                            break;
                                    }
                                </select>
                            </td>
                            <td>
                                @if (Model.ChargesStatus)
                                {
                                    @* 當研討會設定成收費時，顯示如下*@
                                    <select name="ChargesStatus" id="chargesStatus">
                                        @if (pa.IsCharges)
                                        {
                                            <option value="1" selected>已繳費</option>
                                            <option value="0">未繳費</option>
                                        }
                                        else
                                        {
                                            <option value="1">已繳費</option>
                                            <option value="0" selected>未繳費</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    @* 當研討會設定成免費時，顯示如下 *@
                                    <span class="label">免費</span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </fieldset>
            <footer class="submit-bar clear mt-24">
                <button id="submitBtn" type="button" class="btn success oi" data-glyph="circle-check">
                    確認儲存
                </button>
                <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="closeModal();">
                    回列表
                </button>
            </footer>
        }
    </div><!-- modal-content //-->
</div><!-- modal //-->

<script>
    (function ($) {
        $(function () {
            $('#submitBtn').click(function () {
                var data = { TrainID: '@Model.TrainID', ApplyID: '@Model.ID', Participants: [] };

                $('.participantsData').each(function (index, elem) {
                    var paId = $(elem).find('input').first().val();
                    var status = $(elem).find('select').first().val();
                    var chargesStatus = $(elem).find('select[id="chargesStatus"]').first().val();
                    data.Participants.push({ ID: paId, Status: status, ChargesStatus: chargesStatus });
                });
                var url = "/_SysAdm/TrainApplyViewData";
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: url,
                    data: data,
                    dataType: 'json',
                    success: function (result) {
                        alert(result.msg);
                        window.location.reload();
                    }
                })
            });

        })
    })(jQuery);
</script>