@using OutWeb.Models.Manage.ManageTrainModels
@model TrainDetailsDataModel
@{
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;
    string ActionName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"]);
}
<input type="hidden" id="hdnID" name="hdnID" value="@Model.Data.ID" />
<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 課程名稱</dt>
    <dd class="col-9">
        <input type="text" name="ActivityName" value="@Model.Data.ActivityName" required placeholder="請輸入課程名稱">
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 活動地點</dt>
    <dd class="col-9">
        <input type="text" name="ActivityLocation" value="@Model.Data.ActivityLocation" required placeholder="請輸入活動地點">
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 活動時間</dt>
    <dd class="col-3">
        <div class="input-group">
            <span class="input-group-addon">起日</span>
            <span class="input-group-box"><input type="text" required class="datepicker" name="ActivityDateBegin" value="@Convert.ToDateTime(Model.Data.ActivityDateBegin).ToString("yyyy\\/MM\\/dd")" placeholder="請輸入活動日期(起)"></span>
        </div>
    </dd>
    <dd class="col-3">
        <div class="input-group">
            <span class="input-group-addon">迄日</span>
            <span class="input-group-box"><input type="text" required class="datepicker" name="ActivityDateEnd" value="@Convert.ToDateTime(Model.Data.ActivityDateEnd).ToString("yyyy\\/MM\\/dd")" placeholder="請輸入活動日期(迄)"></span>
        </div>
    </dd>
    <dd class="col-9 push-2 mt-8">
        <input type="text" name="ActivityTimeRange" value="@Model.Data.ActivityTimeRange" placeholder="請輸入活動時間">
    </dd>
  
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 主辦單位</dt>
    <dd class="col-9">
        <input type="text" name="Organizer" value="@Model.Data.Organizer" required placeholder="請輸入主辦單位">
    </dd>
</dl>

<dl class="field">
    <dt class="col-2">協辦單位</dt>
    <dd class="col-9">
        <input type="text" name="CoOrganiser" value="@Model.Data.CoOrganiser" placeholder="請輸入協辦單位">
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 報名時間</dt>
    <dd class="col-3">
        <div class="input-group">
            <span class="input-group-addon">起日</span>
            <span class="input-group-box"><input type="text" class="datepicker" name="DeadlineBegin" value="@Model.Data.DeadlineBegin" required placeholder="請輸入報名期限(起)"></span>
        </div>
    </dd>
    <dd class="col-3">
        <div class="input-group">
            <span class="input-group-addon">迄日</span>
            <span class="input-group-box"><input type="text" class="datepicker" name="DeadlineEnd" value="@Model.Data.DeadlineEnd" required placeholder="請輸入報名期限(迄)"></span>
        </div>
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 聯絡人</dt>
    <dd class="col-4">
        <input type="text" name="ContactPerson" value="@Model.Data.ContactPerson" required placeholder="請輸入聯絡人">
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 聯絡電話</dt>
    <dd class="col-4">
        <input type="text" name="ContactPhoneNumber" value="@Model.Data.ContactPhoneNumber" required placeholder="請輸入聯絡電話">
    </dd>
</dl>

<dl class="field">
    <dt class="col-2">備註</dt>
    <dd class="col-9">
        <input type="text" name="Remarks" value="@Model.Data.Remarks" placeholder="請輸入備註">
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 活動人數上限</dt>
    <dd class="col-4">
        <input type="number" name="EnrollmentRestrictions" value="@Model.Data.EnrollmentRestrictions" required placeholder="請輸入活動人數上限">
    </dd>
    <dd class="col-5 form-label">
        <span class="text-danger">* 本活動開放報名人數</span>
    </dd>
</dl>

<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 用戶參加人數限制</dt>
    <dd class="col-4">
        <input type="number" required placeholder="請輸入單一用戶參加人數限制" name="SingleEnrollmentRestrictions" value="@Model.Data.SingleEnrollmentRestrictions">
    </dd>
    <dd class="col-5 form-label">
        <span class="text-danger">* 單一用戶可參加人數</span>
    </dd>
</dl>

@* 2017/12/8 add *@
<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 費用</dt>
    <dd class="col-9">
        <label>
            <input class="radio" type="radio" id="ChargesStatus[0]" name="ChargesStatus" value="false" checked>
            <i class="icon"></i> 免費
        </label>

        <label class="ml-12">
            <input class="radio" type="radio" id="ChargesStatus[1]" name="ChargesStatus" value="true">
            <i class="icon"></i> 收費
        </label>
    </dd>
</dl>

<dl class="field">
    <dt class="col-2">排序</dt>
    <dd class="col-9">
        <input type="number" value="@Model.Data.Sort" class="inline" name="Sort">
        <small>數字愈大愈前面</small>
    </dd>
</dl>

@* 先跟客戶確認 提前截止的狀況
    <dl class="field">
        <dt class="col-2">報名狀態</dt>
        <dd class="col-9">
            <input class="radio" type="radio" id="SignupStatus[0]" name="SignupStatus">
            <label></label> 開放報名

            <input class="radio" type="radio" id="SignupStatus[1]" name="SignupStatus">
            <label></label> 報名結束
        </dd>
    </dl> *@

@* 原活動狀態 = 原前台顯示 *@
<dl class="field">
    <dt class="col-2">顯示狀態</dt>
    <dd class="col-9">
        <label>
            <input class="radio" type="radio" id="ActivityStatus[0]" name="ActivityStatus" value="true">
            <i class="icon"></i> 上架
        </label>

        <label class="ml-12">
            <input class="radio" type="radio" id="ActivityStatus[1]" name="ActivityStatus" value="false">
            <i class="icon"></i> 下架
        </label>
    </dd>
</dl>

@* 先隱藏
        <dl class="field">
        <dt class="col-2">首頁顯示</dt>
        <dd class="col-9">
            <label class="switch">
                <input type="checkbox" id="DisplayHome"  name="DisplayHome" checked>
                <div class="slider round"></div>
            </label>

            @* <input class="radio" type="radio" id="DisplayHome[0]" name="DisplayHome">
                <label></label> 顯示

                <input class="radio" type="radio" id="DisplayHome[1]" name="DisplayHome">
                <label></label> 隱藏
        </dd>
    </dl> *@

@* 同上方功能
    <dl class="field">
        <dt class="col-2">前台顯示</dt>
        <dd class="col-9">
            <input class="radio" type="radio" id="DisplayFront[0]" name="DisplayFront">
            <label></label> 顯示

            <input class="radio" type="radio" id="DisplayFront[1]" name="DisplayFront">
            <label></label> 隱藏
        </dd>
    </dl> *@


<dl class="field">
    <dt class="col-2">附件上傳</dt>
    <dd class="col-4 append-file-m">
        <div class="input-file">
            <input id="files_m" type="file" onchange="postFiles(this);" multiple>
        </div>
        <ul class="file-pre-ul" style="list-style:none;">

            @foreach (var file in Model.FilesData)
            {
                string imgUrl = currentUrl + "/" + file.FileUrl;
                int index = Model.FilesData.IndexOf(file);
                <li class="uploaded">
                    <button type="button" class="btn-del file-remove-btn" del-obj="f" id="@file.FileName'">&times;</button>
                    <a class="dlFile" href="javascript:;" url="@imgUrl" real-name="@file.RealFileName">@file.RealFileName</a>
                    <input type="hidden" id="imgID" name="FileData[@index].ID" value="@file.ID" />
                </li>
            }
        </ul>
    </dd>
</dl>

<fieldset class="mt-24">
    <legend class="underline">[ 內容 ]</legend>
    <div class="alert-warning mb-16">
        <strong>編輯器注意事項:</strong><br>
        從 WORD 複製文字時，請使用下方的 <img src="/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
        編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
        檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明) <br />
        youtube 可勾選「用自適應縮放模式」
    </div>
    <textarea id="art" class="form-element" maxlength="512" name="ActivityContent" placeholder="請輸入最新消息內容..." rows="15">@Model.Data.ActivityContent</textarea>
</fieldset>



<footer class="submit-bar clear mt-24">
    <button id="submitBtn" type="button" class="btn success oi" data-glyph="circle-check">
        確認儲存
    </button>
    <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href = '/_SysAdm/TrainList'">
        回列表
    </button>
</footer>

<script>
    (function ($) {
        $(function () {
            //alert(CKEDITOR.version);
            CKFinder.setupCKEditor(null, { basePath: '/ckfinder/', skin: 'v1' });
            CKEDITOR.replace('ActivityContent');
            if ('@Model.Data.ID' == '0') {
                $('[id="SignupStatus[0]"],[id="ActivityStatus[0]"],[id="DisplayHome[0]"],[id="ChargesStatus[0]"]').prop('checked', 'checked');
            }
            else {

                if ('@Model.Data.ChargesStatus' == '@true') {
                    $('[id="ChargesStatus[1]"]').prop('checked', true);
                }
                else {
                    $('[id="ChargesStatus[0]"]').prop('checked', true);
                }
                if ('@Model.Data.ActivityStatus' == '@true') {
                    $('[id="ActivityStatus[0]"]').prop('checked', true);
                }
                else {
                    //$('[id="ActivityStatus[0]"]').prop('checked', false);
                    $('[id="ActivityStatus[1]"]').prop('checked', true);
                }

                if ('@Model.Data.DisplayHome' == '@true') {
                    $('#DisplayHome').prop('checked', true);
                }
                else {
                    $('#DisplayHome').prop('checked', false);
                }
            }
        })
    })(jQuery);
</script>

@*File Upload JS*@
<script>
    $(function () {
        //表單送出
        $('#submitBtn').click(function () {
            var isValid = validHtmlFormRequired();
            if (!isValid) {
                return;
            }
            var limitCount = $('input[name="EnrollmentRestrictions"]').val();
            var slimitCount = $('input[name="SingleEnrollmentRestrictions"]').val();

            if (parseInt(slimitCount) > parseInt(limitCount))
                alert('用戶參加人數不得大於活動人數');
            SaveFiles();
        });
    })

    //驗證Required欄位
    function validHtmlFormRequired() {
        var valid = true;
        var form = document.getElementById('formManageTrainData');
        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                alert(form.elements[i].placeholder);
                valid = false;
                return;
            }
        }
        return valid;
    }

    var fileList = [];
    var fileLimitFileSize = 2097152//檔案大小2mb 單位bit
    var blobBuffer = {};

    //圖片/檔案存server
    function SaveFiles() {
        //重置ckeditor content
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
        var ID = $('#hdnID').val();
        var formData = document.getElementById('formManageTrainData');
        formData = new FormData(formData);

        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == 's') {
                formData.append('image', data.files);
            }
            else if (data.type == 'm') {
                formData.append('images', data.files);
            }
            else if (data.type == 'f') {
                formData.append('files', data.files);
            }
        }

        formData.append("act", 'post');
        formData.append("actionName", '@ActionName');
        formData.append("ID", ID);
        if (ID == 0) {
            url = "@Url.Content("~/_SysAdm/TrainAdd/")";
        }
        else {
            url = "@Url.Content("~/_SysAdm/TrainEdit/")";
        }
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                window.location.href = response.Url;
            },
            error: function (error) {
                alert('error');
                window.location.reload();
            }
        });
    }

    //檔案下載
    $(document).on('click', '.dlFile', function () {
        downloadFile(this);
    });

    //檔案刪除
    $(document).on('click', '.file-remove-btn', function () {
        var delIndex = [];
        var id = $(this).attr('id');
        var t = $(this).attr('del-obj');
        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == t && data.files.name == id) {
                delIndex.push(i);
            }
        }
        for (var i = 0; i < delIndex.length; i++) {
            fileList.splice(delIndex[i], 1);
        }
        $(this).parent('li').remove();
    })

    //檔案預覽
    function postFiles(elem) {
        var f = document.getElementById('files_m');
        //檢查格式尺寸
        var sizePass = checkFileLimitSize(f, fileLimitFileSize);
        if (!sizePass) {
            return;
        }

        for (var i = 0; i < f.files.length; i++) {
            //建立Object URL
            var url = window.URL.createObjectURL(f.files[i]);
            var filename = f.files[i].name;
            var blobObjectFile = f.files[i];
            var ra = '';
            //For IE
            if (window.navigator.msSaveOrOpenBlob) {
                ra = Math.random();
                blobBuffer[ra] = { blobObj: blobObjectFile, fileName: filename };
            }
            var $li = '<li class="uploaded"><button type="button" class="btn-del file-remove-btn" del-obj="f" id="' + f.files[i].name + '">&times;</button>' +
                '<a class="dlFile"  ie-id="' + ra + '" href="javascript:;" url="' + url + '" real-name="' + filename + '">' + filename + '</a>' +
                '</li>';

            $('.file-pre-ul').append($li);
            fileList.push({ type: 'f', files: f.files[i] });

            //註銷Object URL
            //window.URL.revokeObjectURL(url);
        }
    }

    //function createFileTempUrl(elem) {
    //    var a = document.createElement('a');
    //    var url = window.URL.createObjectURL(blob);
    //    var filename = 'what-you-want.txt';
    //    a.href = url;
    //    a.download = filename;
    //    a.click();
    //    window.URL.revokeObjectURL(url);
    //}
    //下載檔案存為指定檔名
    function downloadFile(elem) {
        //for IE
        if (window.navigator.msSaveOrOpenBlob) {
            if (Object.keys(blobBuffer).length > 0) {
                var key = $(elem).attr('ie-id');
                var obj = blobBuffer[key];

                var blobObject = new Blob([obj.blobObj]);
                window.navigator.msSaveOrOpenBlob(blobObject, obj.fileName);
            }
        }
        else {
            $(elem).attr('download', $(elem).attr('real-name'))
           .attr('href', $(elem).attr('url'))
           .attr('target', '_blank');
        }
    }


    //檢查尺寸
    function checkFileLimitSize(totalFiles, fileLimitSize) {
        var success = true;
        for (var i = 0; i < totalFiles.files.length; i++) {
            var file = totalFiles.files[i];
            if (file.size > fileLimitSize) {
                success = false;
                alert("圖片或檔案大小不可超過" + (fileLimitSize / 1024) + " kb.");
                break;
            }
        }
        return success;
    }
</script>