@using OutWeb.Models.Manage.ApplyMaintainModels.ApplyDetailsModels
@model ApplyDetailsDataModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "報名維護";
    ViewBag.subnav = "Applys";
    ViewBag.subnav2 = "ApplyList";
}
@section Breadcrumb {
    <ul class="breadcrumb">
        <li>線上報名管理</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}
<script>
    //frmDownList
    function paginationSubmit(page) {
        $('#numPage').val(page);
        $('#frmApplyEdit').submit();
    }
    (function ($) {
        $(function () {

            @*$('#statusDisable').val('@Model.Filter.Disable');*@

            //搜尋
            $('#searchBtn').click(function () {
                $('#numPage').val(1);
                $('#frmApplyEdit').submit();
            });


            //刪除
            $('.delete-btn').click(function () {
                if (!confirm('請問確定要刪除?')) {
                    return;
                }
                else {
                    var id = $(this).attr('data-id');
                    var url = "@Url.Content("~/_SysAdm/ApplyDelete")";
                    $.ajax({
                        async: false,
                        url: url,
                        data: { actID: '@Model.ActivityID', applyID: id },
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            alert(data.messages);
                            if (data.success) {
                                window.location.reload()
                            }
                        }, error: function (error) {
                            alert(error.messages);
                        }
                    });
                }
            })

            //排序
            $('.th-sort-toggle').on('click', function () {
                var form = document.getElementById("frmApplyEdit");
                var formData = $(form).serializeArray();
                var queryStr = $.param(formData);
                var sortNm = $(this).attr('id');
                var sortType = $(this).attr('sort-type') == '' ? 'asc' : $(this).attr('sort-type');
                window.location = '@Url.Content("~/_SysAdm/ApplyEdit?")' + queryStr + "&sort=" + sortNm + '/' + sortType + '&page=@Model.ListData.Result.Pagination.CurrentPage';
            })

            var sortColumn;
            var sortTp;
            if ('@Model.ListData.Filter.SortColumn' != '') {
                sortColumn = '@Model.ListData.Filter.SortColumn'.split('/')[0]
                sortTp = '@Model.ListData.Filter.SortColumn'.split('/')[1];
            }

            if (sortTp == 'asc') {
                sortTp = 'desc';
            }
            else {
                sortTp = 'asc';
            }

            switch (sortColumn) {
                case "sortApplyStatus":
                    $('#sortApplyStatus').addClass(sortTp)
                    $('#sortApplyStatus').attr('sort-type', sortTp);
                    break;
                default:
                    break;
            }
        });
    })(jQuery);
</script>




<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>
@using (Html.BeginForm("ApplyEdit", "_SysAdm", FormMethod.Get, new { id = "frmApplyEdit" }))
{
    <input type="hidden" name="ID" value="@Model.ActivityID" />
    <div class="btn-group">
        <a href="ApplyList" class="btn warning oi" data-glyph="chevron-left">回列表</a>
    </div>
    <section class="my-24 p-12 bg-light">
        <dl class="field">
            <dt class="col-1">活動時間</dt>
            <dd class="col-11 form-label underline">@Model.ActivityDateRange</dd>
        </dl>
        <dl class="field">
            <dt class="col-1">活動名稱</dt>
            <dd class="col-11 form-label underline">@Model.ActivityName</dd>
        </dl>
        <dl class="field">
            <dt class="col-1">隊伍上限</dt>
            <dd class="col-3 form-label underline">@Model.GroupInfo.GroupApplyLimit</dd>
            <dt class="col-1">已報名</dt>
            <dd class="col-3 form-label underline">@Model.GroupInfo.RegisteredCount</dd>
            <dt class="col-1">報名完成</dt>
            <dd class="col-3 form-label underline">@Model.GroupInfo.RegisteredSuccessCount</dd>
        </dl>
    </section>

    <div class="alert-warning mb-8">請先審核報名是否完成</div>

    <header class="table-head form-inline">
        <select id="" name="groupId">
            <option value="">全部組別</option>
            @foreach (var g in Model.GroupList)
            {
                string selected = g.Key == Model.ListData.Filter.GroupID ? "selected" : "";
                <option value="@g.Key" @selected>@g.Value</option>
            }
        </select>
        <input type="text" placeholder="請輸入關鍵字" name="qry" value="@Model.ListData.Filter.QueryString">
        <button class="btn">搜尋</button>
        <a class="btn info pull-right export-reply" data-modal="#md2" href="javacscript:;">匯出清單</a>


    </header>
    <table class="table-list table-hover table-striped">
        <colgroup>
            <col span="2">
            <col style="width: 12%">
            <col style="width: 14%">
            <col>
            <col span="2" style="width: 12%">
            <col style="width: 10%">
        </colgroup>
        <tr>
            @* 點選排序功能 (點一下遞增, 點兩下遞減)
                <button class="th-sort-toggle"></button>
                遞增 asc
                <button class="th-sort-toggle asc"></button>
                遞減 desc
                <button class="th-sort-toggle desc"></button>
            *@
            <th class="item-edit">刪除</th>
            <th class="item-edit">修改</th>
            <th>報名時間</th>
            <th class="text-left">報名編號</th>
            <th class="text-left">隊名</th>
            <th>聯絡電話</th>
            <th>隊伍球員人數</th>
            <th><button id="sortApplyStatus" sort-type="" type="button" class="th-sort-toggle">報名狀態</button></th>
        </tr>
        @if (Model.ListData.Result.Data.Count == 0)
        {
            <tr class="bg-pale-red"><td colspan="9">查無資料!</td></tr>
        }
        @* 預設以發佈時間排序 *@
        @foreach (var data in Model.ListData.Result.Data)
        {
            string success = data.ApplySuccessStatus ? "完成" : "未完成";
            string successStyle = data.ApplySuccessStatus ? "label-success" : "label";

            <tr>
                <td><button class="hover-danger oi delete-btn" title="刪除" type="button" data-glyph="trash" data-id="@data.ID"></button></td>
                @*<td><button class="hover-primary oi" title="修改" data-glyph="pencil" data-modal="#md1" type="button"></button></td>*@
                <td><button class="hover-primary oi" title="修改" data-glyph="pencil" onclick="openModal('@Model.ActivityID','@data.ID');" type="button"></button></td>
                <td>@data.ApplyDate</td>
                <td class="text-left">@data.ApplyNumber</td>
                <td class="text-left">@data.ApplyTeamName</td>
                <td>@data.ContactPhone</td>
                <td>@data.ApplyTeamMemberCount</td>
                <td>
                    <span class="@successStyle">@success</span>
                    @*
                        <span class="label">未完成</span> *@
                </td>
            </tr>
        }
    </table>
}

@* 隱藏: hidden *@
<div id="modalArea">
</div>
<!-- modal //-->

<div id="md2" class="modal" onclick="closeModal();" hidden>
    <div class="modal-content p-8">
        <header class="modal-header clearfix">
            匯出清單
            <button onclick="closeModal();" class="modal-close pull-right">&#10005;</button>
        </header>
        <dl class="field">
            <dt class="col-2">組別</dt>
            <dd class="col-4">
                <select id="groupList">
                    <option value="0">不限組別</option>
                    @foreach (var group in Model.GroupList)
                    {
                        <option value="@group.Key">@group.Value</option>
                    }
                </select>
            </dd>
        </dl>
        <footer class="submit-bar clear mt-24">
            <button id="submitExcel" type="button" class="btn success oi" data-glyph="circle-check">
                確認匯出
            </button>
            <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="closeModal();">
                回列表
            </button>
        </footer>
    </div><!-- modal-content //-->
</div><!-- modal //-->


@*<div id="md1" class="modal" onclick="closeModal();" hidden>
        <div class="modal-content p-8">
            <header class="modal-header clearfix">
                報名詳細資料
                <button onclick="closeModal();" class="modal-close pull-right">&#10005;</button>
            </header>
            <dl class="field">
                <dt class="col-2">報名狀態</dt>
                <dd class="col-4">
                    <select name="ApplyStatus" id="selectApplyStatus">
                        <option value="false">未完成</option>
                        <option value="true">完成</option>
                    </select>
                </dd>
            </dl>
            <dl class="field">
                <dt class="col-2">報名編號</dt>
                <dd class="col-10 form-label underline">107-ABC-0001</dd>
            </dl>
            <dl class="field">
                <dt class="col-2">活動名稱</dt>
                <dd class="col-10 form-label underline">桃園市主委盃3對3籃球鬥牛賽(代辦)</dd>
            </dl>
            <dl class="field">
                <dt class="col-2">隊名</dt>
                <dd class="col-10">
                    <input type="text" value="AAAAAA" required>
                </dd>
            </dl>
            <section class="row no-gutters my-12">
                <div class="col-6">
                    <dl class="field">
                        <dt class="col-4">參賽組別</dt>
                        <dd class="col-8">
                            <select name="" id="">
                                <option value="" selected>男子組</option>
                                <option value="">女子組</option>
                            </select>
                        </dd>
                    </dl>
                    <dl class="field">
                        <dt class="col-4">聯絡人</dt>
                        <dd class="col-8">
                            <input type="text" value="XXX" required>
                        </dd>
                    </dl>
                    <dl class="field">
                        <dt class="col-4">聯絡電話</dt>
                        <dd class="col-8">
                            <input type="tel" value="000-000-000" required>
                        </dd>
                    </dl>
                </div>
                <div class="col-6">
                    <dl class="field">
                        <dt class="col-4">教練</dt>
                        <dd class="col-8">
                            <input type="text" value="">
                        </dd>
                    </dl>
                    <dl class="field">
                        <dt class="col-4">E-mail</dt>
                        <dd class="col-8">
                            <input type="email" value="abc@abc.com">
                        </dd>
                    </dl>
                </div>
            </section>
            <dl class="field">
                <dt class="col-2">其他</dt>
                <dd class="col-10">
                    <textarea rows="4" class="form-element" placeholder="如有隨行人員請在此登打">
                        領隊：EEE
                        助理教練：CCC
                        管理人員：DDD
                    </textarea>
                </dd>
            </dl>
            <fieldset class="form-list mt-24">
                <legend class="underline">
                     只顯示活動設定的人數上限，但系統不做判斷防呆
                    隊伍資料(人數上限: <strong>8</strong> 人)
                </legend>
                 預設第一筆是隊長
                <dl class="field">
                    <dt class="col-1">隊長</dt>
                    <dd class="col-3">
                        <div class="input-group">
                            <label class="input-group-addon">姓名</label>
                            <div class="input-group-box">
                                <input type="text" value="AAA" required>
                            </div>
                        </div>
                    </dd>
                    <dd class="col-4">
                        <div class="input-group">
                            <label class="input-group-addon">身份證字號</label>
                            <div class="input-group-box">
                                <input type="text" value="h123456789" required>
                            </div>
                        </div>
                    </dd>
                    <dd class="col-3">
                        <div class="input-group">
                            <label class="input-group-addon">生日</label>
                            <div class="input-group-box">
                                <input type="date" value="2017-01-01" required>
                            </div>
                        </div>
                    </dd>
                    <dd class="col-1">
                        <button type="button" class="btn sm danger" disabled>刪除</button>
                    </dd>
                </dl>
                <dl class="field">
                    <dt class="col-1">隊員1</dt>
                    <dd class="col-3">
                        <div class="input-group">
                            <label class="input-group-addon">姓名</label>
                            <div class="input-group-box">
                                <input type="text" value="BBB" required>
                            </div>
                        </div>
                    </dd>
                    <dd class="col-4">
                        <div class="input-group">
                            <label class="input-group-addon">身份證字號</label>
                            <div class="input-group-box">
                                <input type="text" value="h123456789" required>
                            </div>
                        </div>
                    </dd>
                    <dd class="col-3">
                        <div class="input-group">
                            <label class="input-group-addon">生日</label>
                            <div class="input-group-box">
                                <input type="date" value="2017-01-01" required>
                            </div>
                        </div>
                    </dd>
                    <dd class="col-1">
                        <button type="button" class="btn sm danger">刪除</button>
                    </dd>
                </dl>
                <footer class="offset-1 pl-8 mt-12">
                    <button type="button" class="btn success oi" data-glyph="plus">新增隊員</button>
                </footer>
            </fieldset>
            <footer class="submit-bar clear mt-24">
                <button id="submitBtn" type="button" class="btn success oi" data-glyph="circle-check">
                    確認儲存
                </button>
                <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="closeModal();">
                    回列表
                </button>
            </footer>
        </div><!-- modal-content //-->
    </div><!-- modal //-->*@

@section IncludeScript {
    <script>
        function openModal(trainId, applyId) {
            var url = "/_SysAdm/ApplyModal?actID=" + trainId + '&applyID=' + applyId;
            $.ajax({
                async: false,
                type: 'GET',
                url: url,
                success: function (result) {
                    $('#modalArea').html(result);
                    $('#md1').show();
                },
                error: function (error) {
                    console.log(error);
                }
            })
            $('body').css('overflow', 'hidden');
        }

        
        // modal open
        $(".export-reply").click(function (e) {
            var modal = $(this).attr("data-modal");
            $(modal).show();
            $('body').css('overflow', 'hidden');
            e.preventDefault();
        });

        // modal close
        function closeModal() {
            $('.modal').fadeOut('fast');
            $('body').removeAttr('style');
        }
        // 點中間內容時不會被close
        $(".modal-content").click(function (e) {
            e.stopPropagation();
        });

        $('#submitExcel').on('click', function (e) {
            e.preventDefault();
            var url = "@Url.Content("~/FileProcess/GetFile")";
            var id = '@Model.ActivityID';
            var group = $('#groupList').val();
            $.ajax({
                async: false,
                cache: false,
                type: 'POST',
                url: url,
                data: { "type": 'ApplyReply', "ID": id, "groupID": group },
                success: function (data) {
                    if (typeof data.success === 'undefined') {
                        alert('系統發收未知錯誤');
                        return;
                    }
                    else {
                        if (!data.success) {
                            alert(data.msg);
                            return;
                        }
                    }
                    var response = data;
                    window.location = '/FileProcess/Download?fileGuid=' + response.FileGuid
                                      + '&filename=' + response.FileName;
                }
            })
        });

        // modal open
        //$("[data-modal]").click(function (e) {
        //    var modal = $(this).attr("data-modal");
        //    $(modal).show();
        //    $('body').css('overflow', 'hidden');
        //    e.preventDefault();
        //});


    </script>
}