
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "簡訊通知維護";
    ViewBag.subnav = "Notice";
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;
    string ActionName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"]);

}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>通知管理</li>
        <li>@ViewBag.Crumb</li>
    </ul>

}

<h3 class="title">
    @ViewBag.Crumb
    <small class="oi" data-glyph="tags">編輯</small>
    <button type="button" class="btn danger oi pull-right" data-glyph="dollar" onclick="getAccount()">餘額查詢</button>
</h3>

<input type="hidden" id="old_deliever_date" value="@Convert.ToDateTime(Model.Data.DELIEVER_DATE).ToString("yyyy\\/MM\\/dd")" />
<input type="hidden" id="old_deliever_time" value="@Convert.ToDateTime(Model.Data.DELIEVER_DATE).AddMinutes(10).ToString("HH:mm")" />

<form action="" class="form-list" id="formManageSMSData">
    <input type="hidden" id="hdnSmsID" name="smsID" value="@Model.Data.SMS_ID" />
    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 標題</dt>
        <dd class="col-7">
            <input type="text" name="TITLE" value="@Model.Data.TITLE" placeholder="請輸入標題" required>
        </dd>
        <dd class="col-3 form-label">
            <small class="text-danger">*本次通知說明</small>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">發佈人</dt>
        <dd class="col-7">
            <input type="text" name="PUBLISHER" value="@Model.Data.PUBLISHER">
        </dd>
        <dd class="col-3 form-label">
            <small class="text-danger">*本次通知發佈人</small>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">發送狀態</dt>
        <dd class="col-7">
            <label>
                <input type="radio" class="radio" name="send" id="send_R" onClick="SwitchDelieverDateStatus()" checked>
                <i class="icon"></i> 預約發送(需設定發送時間)
            </label>
            <label class="ml-12">
                <input type="radio" class="radio" name="send" id="send_I" onClick="SwitchDelieverDateStatus()">
                <i class="icon"></i> 立即發送(自動帶入系統時間)
            </label>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">發送時間</dt>
        <dd class="col-4">
            <div class="input-group">
                <span class="input-group-addon">日期</span>
                <span class="input-group-box"><input class="datepicker" name="DELIEVER_DATE_DATE" value="@Convert.ToDateTime(Model.Data.DELIEVER_DATE).ToString("yyyy\\-MM\\-dd")"></span>
            </div>
        </dd>
        <dd class="col-3">
            <div class="input-group">
                <span class="input-group-addon">時間</span>
                <span class="input-group-box"><input name="DELIEVER_DATE_TIME" value="@Convert.ToDateTime(Model.Data.DELIEVER_DATE).ToString("HH:mm")"></span>
            </div>
        </dd>
    </dl>

    <dl class="field">
        <dt class="col-2">發送紀錄</dt>
        <dd class="col-7">
            <button class="btn sm info" type="button" onclick="getSMSReply(@Model.Data.SMS_ID);">查看發送紀錄</button>
            @* 還沒發時出現
                <span class="label">尚未發送</span> *@
        </dd>
    </dl>
    <dl class="field" id="sendTest">
        <dt class="col-2">發送測試</dt>
        <dd class="col-2">
            <input id="testTel" type="text" name="SENDTESTTEL" placeholder="請輸入測試用手機號碼" onkeyup="return ValidateNumber(this,value)">
        </dd>
        <dd class="col-2">
            <input id="testName" type="text" name="SENDTESTNAME" placeholder="請輸入測試人員姓名">
        </dd>
        <dd class="col-3">
            <button id="testBtn" class="btn info oi" data-glyph="phone" type="button">儲存並測試</button>
        </dd>
    </dl>

    <fieldset class="mt-24">
        <legend class="underline">
            [ 發送內容 ]
            <a class="btn sm warning pull-right" href="/Content/ExcelTemp/PhoneMsgTemp.xlsx" target="new">收件人簡訊 Excel檔填寫範例</a>
        </legend>
        <dl class="field bg-light py-12">
            <dt class="col-2"><sup title="必填">*</sup> 收件人</dt>
            <dd class="col-9">
                <div class="input-file">
                    <input id="files_m" type="file" onchange="postFiles(this);" placeholder="請上傳檔案">
                </div>
                <small class="text-danger">可上傳 1 個Excel(.xlsx格式)檔案，檔案大小不超過 2Mb</small>
                @*<button class="btn-del" type="button">&times;</button>
                    <a href="">300清單.xls</a>*@
                <ul class="file-pre-ul list-unstyled">
                    @foreach (var file in Model.FilesData)
                    {
                        string fileUrl = currentUrl + "/" + file.FileUrl;
                        int index = Model.FilesData.IndexOf(file);
                        <li class="uploaded">
                            <button type="button" class="btn-del" del-obj="f" id="@file.FileName">&times;</button>
                            <a class="dlFile" href="javascript:;" url="@fileUrl" real-name="@file.RealFileName">@file.RealFileName</a>
                            <input type="hidden" id="fileID" name="FileData[@index].ID" value="@file.ID" />
                        </li>

                    }
                </ul>
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 內容</dt>
            <dd class="col-9">
                <small class="block text-danger mb-8">內容不得含有&符號，單一簡訊70字(包含空格、標點符號、換行)，超過以2封簡封發送</small>
                <textarea rows="5" id="textareaText" name="CONTENTTEXT" placeholder="請輸入簡訊內容" onkeyup="countChar(this)" required>@Model.Data.CONTENTTEXT</textarea>
                <label id="lblText">字數統計：<span>--</span></label>
            </dd>
        </dl>
    </fieldset>
    <footer class="submit-bar clear mt-24">
        <button id="saveBtn" type="button" class="btn success oi" data-glyph="circle-check">
            暫存草稿
        </button>

        <button id="sendBtn" type="button" class="btn info oi" data-glyph="check">
            儲存且啓動發送
        </button>

        <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href = 'NoticeList'">
            回列表
        </button>

        <button id="cancelBtn" type="button" class="btn secondary oi" data-glyph="x">
            取消預約
        </button>
    </footer>
</form>

@section IncludeScript {
    <script>
        function openModal(target) {
            $('#replyMsgDiv').show();
            $('body').css('overflow', 'hidden');
        }
        function closeModal() {
            $('#replyMsgDiv').fadeOut('fast');
            $('body').removeAttr('style');
        }

        $(".modal").click(function() {
            closeModal();
        });
        $(".modal-content").click(function(e){
            e.stopPropagation();
        });

        var $input = $("input[name='DELIEVER_DATE_TIME']");
        $input.clockpicker({
            autoclose: true
        });

    </script>
}

<div class="modal" id="replyMsgDiv" hidden>
    <div class="modal-content p-8">
        <header class="modal-header clearfix">
            簡訊發送紀錄
            <button onclick="closeModal();" class="modal-close pull-right">&#10005;</button>
        </header>
        <table class="table-list table-hover table-striped" id="modalTb">
            <colgroup>
                <col style="width: 30px">
                <col span="2">
                <col style="width: 30%">
            </colgroup>
            <tr>
                <th>#</th>
                <th class="text-left">收件人</th>
                <th class="text-left">收件位址(手機)</th>
                <th>發送紀錄</th>
                <th>備註</th>
            </tr>
            @*<tr>
                    <td>1</td>
                    <td class="text-left">xxx</td>
                    <td class="text-left">000000000000</td>
                    <td>成功</td>
                </tr>
                 <tr>
                    <td>2</td>
                    <td class="text-left">xxx</td>
                    <td class="text-left">000000000000</td>
                    <td>失敗</td>
                </tr>*@
        </table>
    </div>
</div>


<div class="modal" id="backBlockDiv" hidden>
    <div class="modal-content p-24" style="text-align:center">
        資料傳遞中...請稍後...
    </div>
</div>

<script>
    (function ($) {
        $(function () {

            if ('@Model.Data.SMS_ID' != '0') {
                $('[id="send_I"]').prop('checked', '');
                $('[id="send_R"]').prop('checked', '');
                if ('@Model.Data.DELIEVER_TYPE' == 'R') {
                    $('[id="send_R"]').prop('checked', 'checked');
                }
                else {
                    $('[id="send_I"]').prop('checked', 'checked');
                    $("input[name='DELIEVER_DATE_DATE']").prop('disabled', 'disabled');
                    $("input[name='DELIEVER_DATE_TIME']").prop('disabled', 'disabled');
                }

                var textarea = document.getElementById("textareaText");
                countChar(textarea);
                nowFile = @Model.FilesData.Count;



                switch (@Model.Data.STATUS){
                    case 0: //儲存草稿
                        $("#saveBtn").show();
                        $("#sendBtn").show();
                        $("#cancelBtn").hide();
                        $("#sendTest").show();
                        break;
                    case 1: //立即啟動
                        $("#saveBtn").hide();
                        $("#sendBtn").hide();
                        $("#cancelBtn").hide();
                        $("#sendTest").hide();
                        break;
                    case 2: //預約啟動
                        $("#saveBtn").hide();
                        $("#sendBtn").hide();
                        $("#cancelBtn").show();
                        $("#sendTest").hide();
                        break;
                    case 3://取消預約
                        $("#saveBtn").hide();
                        $("#sendBtn").hide();
                        $("#cancelBtn").hide();
                        $("#sendTest").hide();
                        break;
                    default:
                        break;
                }

            } else {
                $("#saveBtn").show();
                $("#sendBtn").show();
                $("#cancelBtn").hide();
                $("#sendTest").show();
                nowFile = 0;
            }

        })

    })(jQuery);
</script>

<script>

    var fileList = [];
       var fileLimitFileSize = 2097152//檔案大小2mb 單位bit
       var blobBuffer = {};

    //驗證Required欄位
    function validHtmlFormRequired() {

        var valid = true;
        var form = document.getElementById('formManageSMSData');

        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                if (form.elements[i].id == "files_m" && nowFile > 0) {
                    valid = true;
                } else {
                    alert(form.elements[i].placeholder);
                    valid = false;
                    return;
                }
            }
        }
        return valid;
    }

    //檔案預覽
    function postFiles(elem) {

        var f = document.getElementById('files_m');

        if (nowFile >= 1) {
            alert("最多只能上傳一個檔案");
            f.value = "";
            return;
        }

        //檢查檔案類型
        var typePass = checkFileExtension(f);
        //檢查格式尺寸
        var sizePass = checkFileLimitSize(f, fileLimitFileSize);

        if (!sizePass || !typePass) {
            f.value = "";
            return;
        }

        //檢查檔案內容
        var result = checkFileContentValidate(f);

        if (result==false) {
            f.value = "";
            return;
        }

        //if ($("li[class='uploaded']").length > 0) {
        //    if (filename == $("li[class='uploaded']").find($("li")).val()) {
        //        alert("重複上傳，請重新確認");
        //        f.value = "";
        //        return;
        //    }
        //}

        for (var i = 0; i < f.files.length; i++) {
            //建立Object URL
            var url = window.URL.createObjectURL(f.files[i]);
            var filename = f.files[i].name;
            var blobObjectFile = f.files[i];
            var ra = '';
            //For IE
            if (window.navigator.msSaveOrOpenBlob) {
                ra = Math.random();
                blobBuffer[ra] = { blobObj: blobObjectFile, fileName: filename };
            }
            var $li = '<li class="uploaded"><button type="button" class="btn-del" del-obj="f" id="' + f.files[i].name + '">&times;</button>' +
                '<a class="dlFile" ie-id="' + ra + '" href="javascript:;" url="' + url + '" real-name="' + filename + '">' + filename + '</a>' +
                '</li>';

            $('.file-pre-ul').append($li);
            fileList.push({ type: 'f', files: f.files[i] });
            nowFile++;
            f.value = "";
        }

    }

    //檢查尺寸
    function checkFileLimitSize(Files, fileLimitSize) {
        var success = true;
        var file = Files;
        if (file.size > fileLimitSize) {
            success = false;
            alert("圖片或檔案大小不可超過" + (fileLimitSize / 1024) + " kb.");
            return;
        }
        return success;
    }

    //檔案下載
    $(document).on('click', '.dlFile', function () {
        downloadFile(this);
    });

    //檔案刪除
    $(document).on('click', '.btn-del', function () {
        var delIndex = [];
        var id = $(this).attr('id');
        var t = $(this).attr('del-obj');
        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == t && data.files.name == id) {
                delIndex.push(i);
            }
        }
        for (var i = 0; i < delIndex.length; i++) {
            fileList.splice(delIndex[i], 1);
        }
        $(this).parent('li').remove();
        nowFile--;
    })

    //下載檔案存為指定檔名
    function downloadFile(elem) {
        //for IE
        if (window.navigator.msSaveOrOpenBlob) {
            if (Object.keys(blobBuffer).length > 0) {
                var key = $(elem).attr('ie-id');
                var obj = blobBuffer[key];

                var blobObject = new Blob([obj.blobObj]);
                window.navigator.msSaveOrOpenBlob(blobObject, obj.fileName);
            }
        }
        else {
            $(elem).attr('download', $(elem).attr('real-name'))
           .attr('href', $(elem).attr('url'))
           .attr('target', '_blank');
        }
    }

    $(function () {
        $('#saveBtn').click(function () {
            var valid = validHtmlFormRequired();
            if (!valid) {
                return false;
            }

            var textareaVal = document.getElementById("textareaText").value;
            if (textareaVal.indexOf("&") >=  0) {
                alert("簡訊內容不能含有&符號");
                return false;
            }

            SaveFilesAndImg("save");
        });

        $('#sendBtn').click(function () {
            var valid = validHtmlFormRequired();
            if (!valid) {
                return false;
            }

            var textareaVal = document.getElementById("textareaText").value;
            if (textareaVal.indexOf("&") >= 0) {
                alert("簡訊內容不能含有&符號");
                return false;
            }

            if (confirm("是否確定要啟動發送?")) {
                SaveFilesAndImg("send");
            }
        });


        $('#testBtn').click(function () {
            var testTel = $("#testTel").val();
            if (testTel == "") {
                alert("請輸入測試用的手機號碼");
                return;
            }

            var valid = validHtmlFormRequired();
            if (!valid) {
                return false;
            }

            var textareaVal = document.getElementById("textareaText").value;
            if (textareaVal.indexOf("&") >= 0) {
                alert("簡訊內容不能含有&符號");
                return false;
            }

            if (confirm("測試發送手機號碼為:" + testTel + "\n" + "皆採立即發送的方式" + "\n" + "是否確定要發送?" + "\n" )) {
                SendForTest();
            }
        });

        $('#cancelBtn').click(function () {
            var info = CancelValidate();
            if (!info[0]) {
                alert(info[1]); //已過可以取消的時間
                return;
            }

            if (confirm("是否確定要取消此筆預約?")) {
                CancelSend()
            }

        });

    })

    function SwitchDelieverDateStatus() {
        if ($("#send_I").is(":checked")) {
            $("input[name='DELIEVER_DATE_DATE']").prop('disabled', 'disabled');
            $("input[name='DELIEVER_DATE_TIME']").prop('disabled', 'disabled');
        } else {
            $("input[name='DELIEVER_DATE_DATE']").prop('disabled', '');
            $("input[name='DELIEVER_DATE_TIME']").prop('disabled', '');
        }
    }

    //取消預約條件驗證
    function CancelValidate() {
        var valArray = new Array(2);

        valArray[0] = true;
        //Time Check
        var date = new Date();
        var datestring = date.getFullYear() + "-" + +(date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes();
        var oldDateString = $("#old_deliever_date").val() + " " + $("#old_deliever_time").val();

        if (Date.parse(datestring) > Date.parse(oldDateString)) {
            valArray[0] = false;
            valArray[1] ="預約發送前10分鐘無法取消";
        }

        return valArray;
    }

    function CancelSend() {
        var ID = $('#hdnSmsID').val();

        url = "@Url.Content("~/_SysAdm/CancelSMSReservation/")";

        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: JSON.stringify({ 'ID': ID }),
            contentType: 'application/json',
            dataType: 'json',
            success: function (count) {
                alert("取消預約已送出" + "\n" + "取消人數為:" + count + "\n" + "取消狀態請點擊【查看發送紀錄】");
                window.location.reload();
            },
            error: function (error) {
                alert('ajax error');
                window.location.reload();
            }
        });
    }


    //測試用
    function SendForTest() {
        var ID = $('#hdnSmsID').val();

        var formData = document.getElementById('formManageSMSData');
        formData = new FormData(formData);

        formData.append("type", "test");
        if ($("#send_I").is(":checked")) {
            formData.append("DELIEVER_TYPECheck", "I");
        } else {
            formData.append("DELIEVER_TYPECheck", "R");
        }

        @*if (ID == 0) {
            url = "@Url.Content("~/_SysAdm/NoticePhoneMsgAdd/")";
        }
        else {
            url = "@Url.Content("~/_SysAdm/NoticePhoneMsgEdit/")";
        }*@

        url = "@Url.Content("~/_SysAdm/NoticePhoneMsgAddAndEdit")";
        $waitBlock = $("#backBlockDiv");

        $.ajax({
            //async: false,
            type: "POST",
            url: url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            beforeSend: function () {
                $waitBlock.show();
            },
            complete: function () {
                $waitBlock.hide();
            },
            success: function (response) {
                alert("測試發送成功" + "\n" + "測試狀態請點擊【查看發送紀錄】");
                window.location.href = response.Url;
            },
            error: function (error) {
                alert('ajax error');
                window.location.reload();
            }
        });

    }

    //檢查只能輸入數字
    function ValidateNumber(e, pnumber) {
        if (!/^\d+$/.test(pnumber)) {
            e.value = /^\d+/.exec(e.value);
        }
        return false;
    }

    //圖片/檔案存server
    function SaveFilesAndImg(btntype) {
        if ($("li[class='uploaded']").length <= 0) {
            alert("請上傳檔案");
            return;
        }

        $('#images_s').val('');
        $('#images_m').val('');

        //Time Check
        var date = new Date();
        var datestring = date.getFullYear() + "-" + +(date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes();
        var choseDateString = $("input[name='DELIEVER_DATE_DATE']").val() + " " + $("input[name='DELIEVER_DATE_TIME']").val();

        if ((Date.parse(datestring) > Date.parse(choseDateString)) && $("#send_R").is(":checked")) {
            alert("預約時間不得早於現在時間，請重新確認");
            return;
        }

        var ID = $('#hdnSmsID').val();

        var formData = document.getElementById('formManageSMSData');
        formData = new FormData(formData);

        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == 's') {
                formData.append('image', data.files);
            }
            else if (data.type == 'm') {
                formData.append('images', data.files);
            }
            else if (data.type == 'f') {
                formData.append('files', data.files);
            }
        }

        formData.append("act", 'post');
        formData.append("actionName", '@ActionName');
        formData.append("ID", ID);

        $("#backBlockDiv").show(); //傳遞訊息提示訊息


        if ($("#send_I").is(":checked")) {
            formData.append("DELIEVER_TYPECheck", "I");
        } else {
            formData.append("DELIEVER_TYPECheck", "R");
        }


        formData.append("type", btntype);


        var url = '';

        @*if (ID == 0) {
            url = "@Url.Content("~/_SysAdm/NoticePhoneMsgAdd/")";
        }
        else {
            url = "@Url.Content("~/_SysAdm/NoticePhoneMsgEdit/")";
        }*@

        url = "@Url.Content("~/_SysAdm/NoticePhoneMsgAddAndEdit")";
        $waitBlock = $("#backBlockDiv");

        $.ajax({
            //async: false,
            type: "POST",
            url: url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            beforeSend: function () {
                $waitBlock.show();
            },
            complete: function () {
                $waitBlock.hide();
            },
            success: function (response) {
                $("#backBlockDiv").hide();
                if ((btntype == "save")) {
                    if (ID == "0") {
                        alert("新增成功");
                    } else {
                        alert("編輯成功");
                    }
                } else {
                    if (response.Status == false) {
                        alert("啟動發送失敗");
                    } else {
                        alert("啟動發送成功" + "\n" + "發送人數:" + response.Count);
                    }
                }
                window.location.href = response.Url;
            },
            error: function (error) {
                $("#backBlockDiv").hide();
                alert('ajax error');
                window.location.reload();
            }
        });
    }

    //查詢餘額
    function getAccount() {
        url = "@Url.Content("~/_SysAdm/GetSMSAccount/")";
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                alert("剩餘餘額為:"+data);
            },
            error: function (error) {
                alert('ajax error');
                window.location.reload();
            }
        });
    }

    //查看發送紀錄
    function getSMSReply(data) {
        url = "@Url.Content("~/_SysAdm/GetSMSImmediateReturn/")";
        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: JSON.stringify({ 'ID': data }),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $(".replyInfo").remove();
                if (data.length>0) {
                    $.each(data, function (i, item) {
                        var memoString = ""
                        if (item.USEDFOR == 0) {
                            memoString = "<td>" + "測試用" + "</td>";
                        } else {
                            memoString = "<td>" + "</td>";
                        }

                        var content = "<td>" + (parseInt(i) + 1) + "</td>" +
                            "<td class='text-left'>" + item.NAME + "</td>" +
                            "<td class='text-left'>" + item.TEL + "</td>" +
                            "<td>" + item.STATUSCODE + "</td>" +
                            memoString;

                        var tr = "<tr class='replyInfo'>" + content + "</tr>";
                        $('#modalTb').append(tr);
                    });
                } else {
                    $('#modalTb').append("<tr class='replyInfo'><td colspan='5'>尚未有發送紀錄</td></tr>");
                }
                openModal();

            },
            error: function (error) {
                alert('ajax error');
                window.location.reload();
            }
        });
    }

    //字數統計
    function countChar(val) {
        var content = val.value;
        var len = content.length;
        if (content.indexOf("&") >= 0) {
            content = content.replace("&", "") ;
            len = len - 1;
            document.getElementById('textareaText').value = content;
            alert("簡訊內容不能含有&符號");
        }
        $("#lblText").find("span").html(len);

    };

    //檢查副檔名
    function checkFileExtension(totalFiles) {
        var success = true;
        var allowedExtension = ["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"];
        for (var i = 0; i < totalFiles.files.length; i++) {
            var fileExtension = totalFiles.files[i].type;
            var findIndex = $.inArray(fileExtension, allowedExtension);
            if (findIndex < 0) {
                success = false;
                alert("只允許上傳 xmls");
                break;
            }
        }
        return success;
    }

    //檢查檔案內容
    function checkFileContentValidate(f) {
        var success = false;
        var file = f.files[0];
        var formData = new FormData();
        formData.append("file", file);

        if (file == null) {
            return;
        }

        url = "@Url.Content("~/CheckExcel/CheckSMSExcel/")";

        $.ajax({
            async: false,
            type: "POST",
            url: url,
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.validate == true) {
                    alert("檔案格式檢查正確" + "\n" + "收件者人數為:" + response.count);
                    success = true;
                } else {
                    alert("檔案有錯誤，錯誤如下：" + "\n" + response.errorMsg);
                    success = false;
                }

            },
            error: function (error) {
                alert('ajax error');
                success = false;
                window.location.reload();
            }
        });

        return success;
    }

</script>



