@using OutWeb.Models.Manage.ManageNotificationModels
@model EmailDataModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "E-mail通知維護";
    ViewBag.subnav = "Notice";
    string currentUrl = "http://" + HttpContext.Current.Request.Url.Authority;
    string ActionName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"]);
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>通知管理</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">
    @ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small>
</h3>

<form action="" class="form-list" id="formManageEmailData">
    <input type="hidden" id="hdnEmailID" name="EmailID" value="@Model.Data.EMAIL_ID" />

    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 標題</dt>
        <dd class="col-7">
            <input type="text" required name="TITLE" value="@Model.Data.TITLE" placeholder="請輸入標題">
        </dd>
        <dd class="col-3 form-label">
            <small class="text-danger">*本次通知說明</small>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">發佈人</dt>
        <dd class="col-7">
            <input type="text" name="PUBLISHER" value="@Model.Data.PUBLISHER" maxlength="10">
        </dd>
        <dd class="col-3 form-label">
            <small class="text-danger">*本次通知發佈人</small>
        </dd>
    </dl>
    @*<dl class="field">
            <dt class="col-2">發送狀態</dt>
            <dd class="col-7">
                <label>
                    <input type="radio" class="radio" name="send" id="send_R" checked>
                    <i class="icon"></i> 預約發送(需設定發送時間)
                </label>
                <label class="ml-12">
                    <input type="radio" class="radio" name="send" id="send_I">
                    <i class="icon"></i> 立即發送
                </label>
            </dd>
        </dl>*@
    @* 先註解
        <dl class="field">
            <dt class="col-2">發送時間</dt>
            <dd class="col-4">
                <div class="input-group">
                    <span class="input-group-addon">日期</span>
                    <label><input type="date" name="DELIEVER_DATE_DATE" value="@Convert.ToDateTime(Model.Data.DELIEVER_DATE).ToString("yyyy\\/MM\\/dd")"></label>
                </div>
            </dd>
            <dd class="col-3">
                <div class="input-group">
                    <span class="input-group-addon">時間</span>
                    <label><input type="time" name="DELIEVER_DATE_TIME" value="@Convert.ToDateTime(Model.Data.DELIEVER_DATE).ToString("HH:mm")"></label>
                </div>
            </dd>
        </dl> *@
    <dl class="field">
        <dt class="col-2">發信信箱</dt>
        <dd class="col-7">
            <input type="email" name="MAIL_FORM" value="@Model.Data.MAIL_FORM" required placeholder="請輸入發信信箱">
        </dd>
    </dl>
    @*<dl class="field">
            <dt class="col-2">發送紀錄</dt>
            <dd class="col-7">
                <button class="btn info oi" data-glyph="external-link" type="button" onclick="openModal('.modal')">查看發送紀錄</button>
                <!-- 還沒發時出現 -->
                <span class="label">尚未發送</span>
            </dd>
        </dl>*@

    <fieldset class="mt-24">
        <legend class="underline">
            [ 發送內容 ]
            <a class="btn sm warning pull-right" href="/Content/ExcelTemp/EmailTemp.xlsx" target="new">收件人Email Excel檔填寫範例</a>
        </legend>
        <dl class="field bg-light py-12">
            <dt class="col-2"><sup title="必填">*</sup> 收件人</dt>
            <dd class="col-9">
                <div class="input-file">
                    <input type="file" id="files_m" onchange="postFiles(this);" placeholder="請上傳收件人檔案" accept=".xlsx">
                </div>
                <small class="text-danger">可上傳 1 個Excel(.xlsx格式)檔案，檔案大小不超過 2Mb</small>
                <ul id="fileMember">
                    @foreach (var file in Model.MemberFile)
                    {
                        string fileUrl = currentUrl + "/" + file.FileUrl;
                        int index = Model.MemberFile.IndexOf(file);
                        <li class="uploaded memberFile">
                            <button type="button" class="btn-del" del-obj="fm" id="@file.FileName" onclick="deleteFile(this)">&times;</button>
                            <a class="dlFile" href="javascript:;" url="@fileUrl" real-name="@file.RealFileName">@file.RealFileName</a>
                            <input type="hidden" id="fileID" name="MemberFile[@index].ID" value="@file.ID" />
                        </li>

                    }
                </ul>
            </dd>
            @*<dd class="col-9">
                    <div class="input-file"><input type="file" required></div>
                    <div class="uploaded">
                        <button class="btn-del" type="button">&times;</button>
                        <a href="">300清單.xls</a>
                    </div>
                </dd>*@
        </dl>
        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 主旨</dt>
            <dd class="col-9">
                <input type="text" required name="MAIL_SUBJECT" value="@Model.Data.MAIL_SUBJECT" placeholder="請輸入主旨">
            </dd>
        </dl>
        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 內容</dt>
            <dd class="col-9">
                <textarea rows="10" required name="MAIL_BODY" placeholder="請輸入內容">@Html.Raw(Model.Data.MAIL_BODY)</textarea>
            </dd>
        </dl>

        <dl class="field">
            <dt class="col-2"><sup title="必填">*</sup> 附件上傳</dt>
            <dd class="col-9">
                <div class="input-file">
                    <input type="file" id="files_a" onchange="postFiles(this);" placeholder="請上傳附件檔案" multiple>
                </div>
                <ul id="fileAttachment">
                    @foreach (var file in Model.AttachmentFiles)
                    {
                        string fileUrl = currentUrl + "/" + file.FileUrl;
                        int index = Model.AttachmentFiles.IndexOf(file);
                        <li class="uploaded attachment">
                            <button type="button" class="btn-del" del-obj="fa" id="@file.FileName" onclick="deleteFile(this)">&times;</button>
                            <a class="dlFile" href="javascript:;" url="@fileUrl" real-name="@file.RealFileName">@file.RealFileName</a>
                            <input type="hidden" id="fileID" name="AttachmentFile[@index].ID" value="@file.ID" />
                        </li>
                    }
                </ul>
            </dd>
        </dl>

        @*<dl class="field">
                <dt class="col-2">附件上傳</dt>
                <dd class="col-9">
                    <div class="input-file"><input type="file"></div>
                    <div class="uploaded">
                        <button class="btn-del" type="button">&times;</button>
                        <a href="">xxxxxxx.pdf</a>
                    </div>
                    <div class="uploaded">
                        <button class="btn-del" type="button">&times;</button>
                        <a href="">xxxxxxx.doc</a>
                    </div>
                </dd>
            </dl>*@
    </fieldset>

    <footer class="submit-bar clear mt-24">
        <button id="saveBtn" type="button" class="btn success oi" data-glyph="circle-check">
            暫存草稿
        </button>
        <button id="sendBtn" type="button" class="btn info oi" data-glyph="check">
            儲存且啓動發送
        </button>
        <button id="cancelBtn" type="button" class="btn secondary oi" data-glyph="x">
            取消發送
        </button>
        <button type="button" class="btn warning oi" data-glyph="circle-x" id="bakList">
            回列表
        </button>
    </footer>
</form>

@section IncludeScript {
    <script>
        function openModal(target) {
            $('.modal').show();
            $('body').css('overflow', 'hidden');
        }
        function closeModal() {
            $('.modal').hide();
            $('body').removeAttr('style');
        }
    </script>
}

<div class="modal" hidden>
    <button onclick="closeModal();" class="modal-close">&#10005;</button>
    <div class="modal-content p-24">
        <table class="table-list table-hover table-striped">
            <colgroup>
                <col style="width: 48px">
                <col span="2">
                <col style="width: 12%">
            </colgroup>
            <tr>
                <th>#</th>
                <th class="text-left">收件人</th>
                <th class="text-left">收件位址(E-mail)</th>
                <th>發送紀錄</th>
            </tr>
            <tr>
                <td>1</td>
                <td class="text-left">xxx</td>
                <td class="text-left">000000000000</td>
                <td>成功</td>
            </tr>
            <tr>
                <td>2</td>
                <td class="text-left">xxx</td>
                <td class="text-left">000000000000</td>
                <td>失敗</td>
            </tr>
        </table>
    </div>
</div>

<script>
    (function ($) {
        $(function () {
            if ('@Model.Data.EMAIL_ID' != '0') {
                $('[id="send_I"]').prop('checked', '');
                $('[id="send_R"]').prop('checked', '');
                if ('@Model.Data.DELIEVER_TYPE' == 'R') {
                    $('[id="send_R"]').prop('checked', 'checked');
                }
                else {
                    $('[id="send_I"]').prop('checked', 'checked');
                }

                nowMemberFile = @Model.MemberFile.Count;

                //1.草稿 2.立即送出 3.預約送出 4.預約取消
                var formStatusCode = '@Model.Data.STATUS';
                switch (formStatusCode) {
                    case '0':
                        $("#saveBtn").show();
                        $("#sendBtn").show();
                        $("#cancelBtn").hide();
                        break;
                    case '1':
                        $("#saveBtn").hide();
                        $("#sendBtn").hide();
                        $("#cancelBtn").hide();
                        break;
                        //case '3':
                        //    $("#saveBtn").show();
                        //    $("#sendBtn").show();
                        //    $("#cancelBtn").show();
                        //    break;
                        //case '4':
                        //    $("#saveBtn").hide();
                        //    $("#sendBtn").hide();
                        //    $("#cancelBtn").hide();
                        //    break;

                    default:
                        $("#saveBtn").show();
                        $("#sendBtn").show();
                        $("#cancelBtn").show();
                        break;

                }

            } else {
                $("#saveBtn").show();
                $("#sendBtn").show();
                $("#cancelBtn").hide();
                nowMemberFile = 0;
            }
        })

    })(jQuery);
</script>

<script>
    var fileList = [];
    var fileLimitFileSize = 2097152//檔案大小2mb 單位bit
    var blobBuffer = {};

    //驗證Required欄位
    function validHtmlFormRequired() {

        var valid = true;
        var form = document.getElementById('formManageEmailData');

        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                if (form.elements[i].id == "files_m" && nowMemberFile > 0) {
                    valid = true;
                } else {
                    alert(form.elements[i].placeholder);
                    valid = false;
                    return;
                }
            }
        }
        return valid;
    }
    $("#bakList").click(function (event) {
        event.preventDefault();
        var url = '@Url.Action("NoticeList", "_SysAdm")';
        window.location.href = url;
    });

    //檔案下載
    $(document).on('click', '.dlFile', function () {
        downloadFile(this);
    });

    //下載檔案存為指定檔名
    function downloadFile(elem) {
        //for IE
        if (window.navigator.msSaveOrOpenBlob) {
            if (Object.keys(blobBuffer).length > 0) {
                var key = $(elem).attr('ie-id');
                var obj = blobBuffer[key];

                var blobObject = new Blob([obj.blobObj]);
                window.navigator.msSaveOrOpenBlob(blobObject, obj.fileName);
            }
        }
        else {
            $(elem).attr('download', $(elem).attr('real-name'))
           .attr('href', $(elem).attr('url'))
           .attr('target', '_blank');
        }
    }

    //檔案刪除
    function deleteFile(elem) {
        var delIndex = [];
        var id = $(elem).attr('id');
        var t = $(elem).attr('del-obj');

        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];
            if (data.type == t && data.files.name == id) {
                delIndex.push(i);
            }
        }
        for (var i = 0; i < delIndex.length; i++) {
            fileList.splice(delIndex[i], 1);
        }

        $(elem).parent('li').remove();

        nowMemberFile--;
    }
    //檔案預覽
    function postFiles(elem) {

        var f = document.getElementById(elem.id);

        if (elem.id == "files_m") {
            if (nowMemberFile >= 1) {
                alert("最多只能上傳一個檔案");
                f.value = "";
                return;
            }

            //檢查檔案類型
            var typePass = checkFileExtension(f);
            //檢查檔案內容
            var result = checkFileContentValidate(f);
            if (!typePass ||!result) {
                f.value = "";
                return;
            }
        }

        //檢查格式尺寸
        var sizePass = checkFileLimitSize(f, fileLimitFileSize);

        if (!sizePass) {
            f.value = "";
            return;
        }

        for (var i = 0; i < f.files.length; i++) {

            //建立Object URL
            var url = window.URL.createObjectURL(f.files[i]);
            var filename = f.files[i].name;
            var blobObjectFile = f.files[i];
            var ra = '';
            //For IE
            if (window.navigator.msSaveOrOpenBlob) {
                ra = Math.random();
                blobBuffer[ra] = { blobObj: blobObjectFile, fileName: filename };
            }
            //收件人檔案
            if (elem.id == "files_m") {
                var $li = '<li class="uploaded memberFile"><button type="button" class="btn-del" del-obj="fm" id="' + f.files[i].name + '"  onclick="deleteFile(this)">&times;</button>' +
                    '<a class="dlFile"  ie-id="' + ra + '" href="javascript:;" url="' + url + '" real-name="' + filename + '">' + filename + '</a>' +
                    '</li>';

                $('#fileMember').append($li);
                fileList.push({ type: 'fm', files: f.files[i] });
                nowMemberFile++;
                f.value = "";

            } else {
                //附件上傳檔案
                var $li = '<li class="uploaded attachment"><button type="button" class="btn-del" del-obj="fa" id="' + f.files[i].name + '"  onclick="deleteFile(this)">&times;</button>' +
                    '<a class="dlFile"  ie-id="' + ra + '" href="javascript:;" url="' + url + '" real-name="' + filename + '">' + filename + '</a>' +
                    '</li>';

                $('#fileAttachment').append($li);
                fileList.push({ type: 'fa', files: f.files[i] });
            }

        }

    }

    //檢查副檔名
    function checkFileExtension(totalFiles) {
        var success = true;
        var allowedExtension = ["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"];
        for (var i = 0; i < totalFiles.files.length; i++) {
            var fileExtension = totalFiles.files[i].type;
            var findIndex = $.inArray(fileExtension, allowedExtension);
            if (findIndex < 0) {
                success = false;
                alert("只允許上傳 xslx");
                break;
            }
        }
        return success;
    }

    //檢查尺寸
    function checkFileLimitSize(Files, fileLimitSize) {
        var success = true;
        var file = Files;
        if (file.size > fileLimitSize) {
            success = false;
            alert("圖片或檔案大小不可超過" + (fileLimitSize / 1024) + " kb.");
            return;
        }
        return success;
    }

    function checkFileContentValidate(f) {
        var value = 0;
        var success = false;
        var file = f.files[0];
        var formData = new FormData();
        formData.append("file", file);

        if (file == null) {
            return;
        }

        url = "@Url.Content("~/CheckExcel/CheckEMAILExcel/")";

        $.ajax({
            async: false,
            type: "POST",
            url: url,
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.validate == true) {
                    alert("檔案格式檢查正確" + "\n" + "收件者人數為:" + response.count);
                    success = true;
                } else {
                    alert("檔案有錯誤，錯誤如下：" + "\n" + response.errorMsg);
                    success = false;
                }

            },
            error: function (error) {
                alert('ajax error');
                success = false;
                window.location.reload();
            }
        });

        return success;
    }

    $(function () {

        $("#saveBtn").click(function (){
            var valid = validHtmlFormRequired();
            if (!valid) {
                return false;
            }

            if($('input[name="MAIL_FORM"]').val()!='')
            {
                var mailFrom = $('input[name="MAIL_FORM"]').val();
                var validMail= validateEmail(mailFrom);
                if(!validMail)
                {
                    alert('發信信箱格式錯誤.');
                    return;
                }
            }
            SaveFilesAndImg("save");
        });

        $('#sendBtn').click(function () {
            var valid = validHtmlFormRequired();
            if (!valid) {
                return false;
            }

            if (confirm("是否確定要啟動發送?")) {
                SaveFilesAndImg("send");
            }
        });
    });

    //圖片/檔案存server
    function SaveFilesAndImg(btntype) {

        if ($(".memberFile").length <= 0) {
            alert("請上傳收件人檔案");
            return;
        }

        var ID = $('#hdnSmsID').val();

        var formData = document.getElementById('formManageEmailData');
        formData = new FormData(formData);

        for (var i = 0; i < fileList.length; i++) {
            var data = fileList[i];

            if (data.type == 'fm') {
                formData.append('filesMember', data.files);
            } else if (data.type == 'fa') {
                formData.append('filesAttachment', data.files);
            }

        }

        formData.append("act", 'post');
        formData.append("actionName", '@ActionName');
        formData.append("ID", ID);

        //Time Check
        //var date = new Date();
        //var datestring = date.getFullYear() + "-" + +(date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes();
        //var choseDateString = $("input[name='DELIEVER_DATE_DATE']").val() + " " + $("input[name='DELIEVER_DATE_TIME']").val();

        ////if ((Date.parse(datestring) > Date.parse(choseDateString)) && $("#send_R").is(":checked")) {
        //    alert("預約時間不得早於現在時間，請重新確認");
        //    return;
        //}


        formData.append("DELIEVER_TYPECheck", "I");
        formData.append("type", btntype);

        var url = '';

        if (ID == 0) {
            url = "@Url.Content("~/_SysAdm/NoticeEmailAdd/")";
        }
        else {
            url = "@Url.Content("~/_SysAdm/NoticeEmailSave/")";
        }

        $.ajax({
            async: false,
            type: "POST",
            url: url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if ((btntype == "save")) {
                    if (response.Action == "Edit") {
                        alert("編輯成功");
                    } else {
                        alert("新增成功");
                    }
                } else {
                    alert("啟動發送成功，系統將在一分鐘內發送郵件");
                }

                window.location.href= response.Url;
            },
            error: function (error) {
                alert('ajax error');
                window.location.href = '@Url.Action("NoticeEmailEdit", "_SysAdm")';
            }
        });
    }

    function validateEmail(email) {
        var re =/^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
        return re.test(email);
    }
</script>