@using OutWeb.Models.Manage.QuestionnaireStatisticsModels
@model QuestionnaireStatisticsDetailsDataModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "問卷統計管理";
    ViewBag.subnav = "Question";
    ViewBag.subnav2 = "QuestionStatistics";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">
    @ViewBag.Crumb <small class="oi" data-glyph="tags">新增</small>
    <a href="javascript:;" class="btn success pull-right mb-2 oi export-reply-details" data-glyph="print">匯出回覆資料</a>
</h3>

@using (Html.BeginForm("QuestionnaireStatisticsView", "_SysAdm", FormMethod.Post, new { id = "formManageQuestionnaireStatisticsView", @class = "form-list" }))
{
    <input type="hidden" id="hdnQuestionnairesID" name="ID" value="@Model.ID" />
    <dl class="field">
        <dt class="col-2"> 問卷</dt>
        <dd class="col-10 form-label underline">
            @Model.Title
            <!-- <input type="text" name="" value="@Model.Title"> -->
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2"> 發出量</dt>
        <dd class="col-2 form-label underline">
            @Model.SendCount
            <!-- <input type="text" name="" value="@Model.SendCount"> -->
        </dd>
        <dt class="col-2"> 回收量</dt>
        <dd class="col-2 form-label underline">
            @Model.RecoveredCount
            <!-- <input type="text" name="" value="@Model.RecoveredCount"> -->
        </dd>
        <dt class="col-2"> 回覆率</dt>
        <dd class="col-2 form-label underline">
            @Model.Responseate
            <!-- <input type="text" name="" value="@Model.Responseate"> -->
        </dd>
    </dl>
    @* <dl class="field">
        <dt class="col-2"> 回覆清單</dt>
        <dd class="col-10">
            <a href="javascript:;" class="btn oi export-reply" data-glyph="data-transfer-download">查看回覆清單</a>
            <!-- <input type="button" name="" value="回覆清單"> -->
        </dd>
    </dl> *@

    <fieldset class="mt-24">
        <legend class="underline">[ 題目統計 ]</legend>
        @foreach (var question in Model.TopicStatistics)
        {
            int index = Model.TopicStatistics.IndexOf(question) + 1;
            if (question.ReplyList.Count == 0)
            {
                <section class="question-items cells">
                    <header class="cell question-item-title text-center">
                        <strong class="font-xl">@index</strong>
                    </header>
                    <main class="cell question-item-content">
                        <h6 class="mt-0 p-8 bg-light">@question.Name</h6>

                        <dl class="field">
                            <dt class="col-1">回覆量</dt>
                            <dd class="col-1 form-label underline text-center">@question.ReplyCount</dd>
                            <dt class="col-1">回覆率</dt>
                            <dd class="col-1 form-label underline text-center">@question.Proportion</dd>
                        </dl>
                    </main>
                </section>
            }
            else
            {
                <section class="question-items cells">
                    <header class="cell question-item-title text-center">
                        <strong class="font-xl">@index</strong>
                    </header>
                    <main class="cell question-item-content">
                        <h6 class="mt-0 p-8 bg-light">@question.Name</h6>

                        @foreach (var reply in question.ReplyList)
                        {
                            <dl class="progress">
                                <dt>@reply.OptionName</dt>
                                <dd class="progress-bar" style="width:@reply.Proportion">@reply.Proportion</dd>
                            </dl>
                        }

                        <dl class="field">
                            <dt class="col-1">回覆量</dt>
                            <dd class="col-1 form-label underline text-center">@question.ReplyCount</dd>
                            <dt class="col-1">回覆率</dt>
                            <dd class="col-1 form-label underline text-center">@question.Proportion</dd>
                        </dl>
                    </main>
                </section>
            }
        }
    </fieldset>

    <footer class="submit-bar clear mt-24">
        <button type="button" id="bakList" class="btn warning oi" data-glyph="circle-x">
            回列表
        </button>
    </footer>
}

<script>
    $(function () {

        $('.export-reply,.export-reply-details').on('click', function (e) {
            e.preventDefault();
            var url = "@Url.Content("~/FileProcess/GetFile")";
            var id = $('#hdnQuestionnairesID').val();

            $.ajax({
                async: false,
                cache: false,
                type: 'POST',
                url: url,
                data: { type: 'QuestionnairesReply', ID: id },
                success: function (data) {
                    if (typeof data.success === 'undefined') {
                        alert('系統發收未知錯誤');
                        return;
                    }
                    else {
                        if (!data.success) {
                            alert(data.msg);
                            return;
                        }
                    }
                    var response = data;
                    window.location = '/FileProcess/Download?fileGuid=' + response.FileGuid
                                      + '&filename=' + response.FileName;
                }
            })
        });
        $('#bakList').click(function (e) {
            e.preventDefault();
            window.location.href = '@Url.Action("QuestionnaireStatisticsList", "_SysAdm")'
        });
    })
</script>