@using OutWeb.Models.FrontEnd.CaseFrontEndModels
@model CaseListFrontViewModel
@{
    ViewBag.Title = "節能案例";
    ViewBag.BodyClass = "Case";
    ViewBag.Subnav = "sub1";
    ViewBag.Breadcrumb = "節能案例"; @* 最後層的麵包屑 *@
}

@section scripts {
    <script>
        // 手風琴特效
        var $collapse = $('.collapse-toggle');
        var fall = '.collapse-content';

        // $($collapse.eq(0).addClass('active')).siblings().next(fall).hide();
        $(fall).hide();
        $collapse.click(function () {
            $(this).next(fall).slideToggle();
            // $(this).parent().siblings().children().next().slideUp(150);
            $(this).siblings().next(fall).slideUp();
            $(this).toggleClass("active"),
                    $collapse.not(this).removeClass("active");
            return false;
        });
    </script>
}

<div class="wrap zoom">
    @Html.Partial("sidebar")

    <div id="content" class="text-left">

        @if (Model.Result.GroupData.Count > 0)
        {
            foreach (var group in Model.Result.GroupData)
            {
                <button type="button" class="collapse-toggle">@group.Key</button>
                <nav class="collapse-content">
                    @foreach (var item in group.Value as List<CaseFrontListDataModel>)
                    {
                        <a href="@Url.Content("~/Case/Content?ID=" + item.ID)">@item.Title</a>
                    }
                </nav>
            }
        }

        @*<button type="button" class="collapse-toggle">空調系統</button>
            <nav class="collapse-content">
                <a href="~/Case/Content?id=1">冷卻水塔運轉最佳化</a>
                <a href="~/Case/Content?id=1">修正滷(冰)水緩衝桶之使用以避免混水</a>
                <a href="~/Case/Content?id=1">潔淨室外氣供風溫度與室內管排溫度節能改善</a>
                <a href="~/Case/Content?id=1">調降一次冰水流量與增設變頻控制</a>
                <a href="~/Case/Content?id=1">調降潔淨室正壓與潔淨等級</a>
                <a href="~/Case/Content?id=1">調整一次冰水與二次冰水水量使共同管流量最少</a>
                <a href="~/Case/Content?id=1">選用雙溫度冰水系統，提升冰機運轉效率達節能目的</a>
            </nav>

            <button type="button" class="collapse-toggle">鍋爐系統</button>
            <nav class="collapse-content">
                <a href="~/Case/Content?id=1">回收鍋爐放水廢熱</a>
                <a href="~/Case/Content?id=1">鍋爐系統 冷凝水回收(一)</a>
                <a href="~/Case/Content?id=1">鍋爐系統 冷凝水回收(二)</a>
                <a href="~/Case/Content?id=1">鍋爐系統 冷凝水回收(三)</a>
                <a href="~/Case/Content?id=1">鍋爐系統 冷凝水回收(四)</a>
                <a href="~/Case/Content?id=1">鍋爐系統 冷凝水回收(五)</a>
                <a href="~/Case/Content?id=1">鍋爐系統 冷凝水回收(六)</a>
                <a href="~/Case/Content?id=1">鍋爐系統 冷凝水回收泵加裝變速調控</a>
            </nav>
            <button type="button" class="collapse-toggle">空壓機系統</button>
            <nav class="collapse-content"></nav>*@
    </div><!-- content //-->
</div><!-- zoom //-->
@*
    @foreach (var data in Model)
    {
        string imgUrl = data.ImagesData == null ? string.Empty : data.ImagesData.FileUrl;

        <figure class="newslist">
            <div class="cut">
                <img src="~/@imgUrl" alt="案例分享列表圖">
            </div>
            <a href="@Url.Content("~/Works/Content?ID="+data.ID)"></a>
            <figcaption>
                <h4>@data.WorksTitle</h4>
                <a href="@Url.Content("~/Works/Content?ID="+data.ID)" class="more">more</a>
                <small class="date">@data.WorksPulishDateStr</small>
        </figcaption>
    </figure>
    } *@