@using OutWeb.Modules.Manage
@using OutWeb.Repositories
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title - 桃園市籃球委員會</title>
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/Content/css/vendor/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
    @Scripts.Render("~/Custom/JS")
    @Styles.Render("~/Custom/CSS")

    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    @RenderSection("css", false)

    <style>
        div.ui-datepicker {
            font-size: 10px;
        }
    </style>

</head>
<body class="@ViewBag.BodyClass">
    <div class="triangle-up-left"></div>
    <div class="triangle-down-right"></div>
    <div id="wrapper">
        <header id="header" class="wrap">
            <h1 class="logo" onclick="location.href='@Url.Content("~/Home")'" onkeypress="location.href='@Url.Content("~/Home")'" title="回首頁">
                桃園市籃球委員會
                <small class="block">TaoYuan Basketball Association</small>
            </h1>

            <button class="mobile-toggle oi ti-menu" title="開啟行動裝置選單"></button>
            <nav id="menu">
                <a href="~/AboutUs" class='nav-item @(ViewBag.BodyClass == "AboutUs" ? "current" : "")'>本會簡介</a>
                <a href="~/News/List" class='nav-item @(ViewBag.BodyClass == "News" ? "current" : "")'>比賽訊息</a>
                <a href="~/Result/List" class='nav-item @(ViewBag.BodyClass == "Result" ? "current" : "")'>比賽成績公告</a>
                <a href="~/Download" class='nav-item @(ViewBag.BodyClass == "Download" ? "current" : "")'>檔案下載</a>
                <a href="https://www.facebook.com/pg/tyba99/photos/" class="nav-item" target="new">活動相簿</a>
                <a href="~/Apply" class='nav-item @(ViewBag.BodyClass == "Apply" ? "current" : "")'>線上報名</a>
                <a href="~/Home/ContactUs" class='nav-item @(ViewBag.BodyClass == "ContactUs" ? "current" : "")'>聯絡我們</a>

                <a href="https://www.facebook.com/tyba99/" class="fb-link" title="桃園市籃球委員會 Facebook粉絲團" target="_blank">
                    <svg viewBox="0 0 512 512">
                        <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"/>
                    </svg>
                </a>
            </nav>
        </header>

        @if (ViewBag.IsFirstPage)
        {
            @RenderBody()
        }
        else
        {
            <div class="content wrap @ViewBag.ContentClass">
                @RenderBody()
            </div>
        }
    </div><!-- wrapper //-->

    <a href="#header" class="goTop ti-angle-up" title="到頂端"></a>

    <footer id="footer">
        <nav class="foot-nav bg-success" data-mcs-axis="x">
            <a href="~/AboutUs" class='@(ViewBag.BodyClass == "AboutUs" ? "current" : "")'>本會簡介</a>
            <a href="~/News/List" class='@(ViewBag.BodyClass == "News" ? "current" : "")'>比賽訊息</a>
            <a href="~/Result/List" class='@(ViewBag.BodyClass == "Result" ? "current" : "")'>比賽成績公告</a>
            <a href="~/Download" class='@(ViewBag.BodyClass == "Download" ? "current" : "")'>檔案下載</a>
            <a href="https://www.facebook.com/pg/tyba99/photos/" target="new">活動相簿</a>
            <a href="~/Apply" class='@(ViewBag.BodyClass == "Apply" ? "current" : "")'>線上報名</a>
            <a href="~/Home/ContactUs" class='@(ViewBag.BodyClass == "ContactUs" ? "current" : "")'>聯絡我們</a>
        </nav>
        <div class="wrap pt-16 pb-32 text-left cells">
            <header class="foot-logo cell">
                桃園市籃球委員會
                <small class="block">TaoYuan Basketball Association</small>
            </header>
            <ul class="foot-contact list-unstyled cell">
                <li>0939-326-040</li>
                <li><a href="mailto:service@tyba.tw">service@tyba.tw</a></li>
                <li>@@tyba99</li>
            </ul>
        </div>
    </footer><!-- footer //-->

    @* 卷軸特效 *@
    <script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        // 卷軸卷動效果
        $(window).scroll(function() {
            if ($(this).scrollTop() > 100) {
                $('body').addClass('scrolled');
                $('.goTop').addClass('fade-in').removeClass('fade-out');
            } else {
                $('body').removeClass('scrolled');
                $('.goTop').removeClass('fade-in').addClass('fade-out');
            }
        });

        // 點選後跳到 href 指向的位置
        $('.scroll, .goTop').click(function () {
            var scrollToAnchor = $(this).attr('href');
            $('html, body').stop(true).animate({
                scrollTop: $(scrollToAnchor).offset().top - 40
            }, 750);
            return false;
        });

        // 仿mac卷軸
        $(".foot-nav").mCustomScrollbar({
            theme: "minimal-dark"
        });

        // 行動裝置的主選單
        $trigger = $('.mobile-toggle');
        $trigger.click(function () {
            $(this).toggleClass('active');
            if ($(this).hasClass('active')) {
                $(this).attr('data-glyph', 'x');
            }
            else {
                $(this).attr('data-glyph', 'menu');
            }
            $('body').toggleClass('js-mobile-body');
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>